    /* ============ Blog section Start ============== */
    .blog-section {
        p {
            color: #777777;
        }

        .blog-section-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
                font-size: 30px;
                font-weight: 600;
                font-family: poppins;
                position: relative;


                &::after {
                    content: "";
                    background-color: var(--them-colour);
                    height: 19px;
                    width: 81px;
                    border-radius: 128px 0px 144px 0px;
                    position: absolute;
                    right: -15px;
                    top: 24px;
                    /* left: 0px; */
                    transform: rotate(173deg);
                    z-index: -999;
                }

            }

            p {
                margin: 0;

                a {
                    text-decoration: underline;
                    color: var(--primary);
                    font-weight: 600;
                    font-size: 17px;
                    cursor: pointer;

                    &:hover {
                        color: var(--primary);

                        text-decoration: underline;
                    }
                }
            }

        }

        .blog-body {
            .blog-contain {
                padding-bottom: 40px;

                .blog-img-box {
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                h4 {
                    padding-top: 20px;
                    color: var(--black);
                }

                a {
                    color: #0A2640;

                }

            }

        }

        .blog-right-body {
            .blog-right-head-1 {
                padding-top: 40px;

                p {
                    color: var(--black);
                    font-size: 19px;
                    font-weight: 500;
                }
            }

            .blog-right-contain {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                padding: 10px 0px;

                .blog-right-img-box {
                    // border: 1px solid red;
                    padding: 0;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                h4 {
                    font-size: 16px;
                    color: var(--black);
                    margin-bottom: 0px;
                    line-height: 17px;
                }

                p {
                    font-size: 11px;
                    line-height: 16px;
                    margin-bottom: 2px;
                }
            }


            .blog-right-head-2 {
                padding-top: 40px;

                p {
                    color: var(--black);
                    font-size: 19px;
                    font-weight: 500;
                }
            }

            .blog-right-section-2 {
                padding-top: 65px;

            }

            .blog-right-contain-2 {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                padding: 10px 0px;

                .blog-right-img-box-2 {
                    background-color: var(--light);
                    height: 89px;

                    .img-contain {
                        padding: 5px;
                        height: 100%;
                        width: 85px;
                        margin-inline: auto;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                h4 {
                    font-size: 16px;
                    color: var(--black);
                    margin-bottom: 0px;
                    line-height: 17px;
                }

                p {
                    font-size: 11px;
                    line-height: 16px;
                    margin-bottom: 2px;
                }
            }


        }
    }

    /* ============ Blog section End ============== */