.cart-section {
    padding: 20px 0px;
    .my-cart-head {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 25px;
            font-weight: 600;
            font-family: poppins;
            position: relative;


            &::after {
                content: "";
                background-color: var(--them-colour);
                height: 19px;
                width: 107px;
                border-radius: 128px 0px 144px 0px;
                position: absolute;
                right: -15px;
                top: 26px;
                /* left: 0px; */
                transform: rotate(173deg);
                z-index: -999;
            }

        }

        p a {
            color: var(--them-colour);
            font-size: 17px;
            text-decoration: underline;
        }
    }

    .my-cart-contain {
        background-color: var(--light);
        border-radius: 20px;
        padding: 12px 20px;
        margin-bottom: 15px;

        .my-cart-img-box {
            // border: 1px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
            // padding: 10px;
            background-color: var(--white);
            height: 125px;
            width: 125px;

            // margin: 8px;
            // border: 1px solid red;
            img {
                width: 100%;
                height: 100%;
            }
        }

        .my-cart-list {

            h5 {
                margin-bottom: 0px !important;
            }

            p {
                margin-bottom: 5px;
                color: rgba(0, 0, 0, 0.52);
                line-height: 21px;
            }
        }

        .my-cart-rs {
            display: flex;
            text-align: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            .form-box{
                display: flex;
                justify-content: flex-start;
                margin-top: 20px;
            }
            .form-control {
                width: 35%;
                height: 30px;
                padding: 3px 0px;
                padding-left: 5px;
                border: 0.5px solid #aaa;
                font-size: 15px;
                font-weight: 500;
                // text-align: center;
                cursor: pointer;
                color: var(--them-colour);
                margin-left: 5px;

                &:focus {
                    box-shadow: none;
                }
            }
        }

        .bin-body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20px;
            width: 20px;
            padding: 15px;
            cursor: pointer;
            background-color: var(--white);
            border: 1px solid #DEE2E7;
            /* shadow-sm */
            box-shadow: 0px 1px 2px rgba(56, 56, 56, 0.08);
            border-radius: 6px;

            a i {
                color: black;
            }

        }
    }

    .total-box {
        // border: 1px solid red;
        // background: #8B8282;
        padding-top: 70px;
        .table{
            thead{
                
                border-bottom: 1px solid gray;
                tr{
    
                    background-color: #FFF6EA !important;
                }
            }
        }
        thead{
            
            border-bottom: 1px solid gray;
            tr{

                background-color: #FFF6EA !important;
            }
            .Price-detal{
                padding-left: 10px;
                
                
                color: rgba(0, 0, 0, 0.49);
            }
        }
        tbody{
            tr{
                td,th{
                    border: none !important;
                }
            }
            .total-border{
                border-top: 1px solid gray;
            }
            .subtotal{
                color: rgba(81, 80, 79, 0.81);
            }
            .discount{
                color: #079504;
            }
            .info-btn{
                color:#FF2C2C;
                i{
                    font-size: 10px;
                    position: absolute;
                    color: #868583;
                }
            }
        }
    }
}