.Checkout-section {
    padding: 10px 0px;

    .Checkout-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h4 {
            font-size: 30px;
            font-weight: 600;
            font-family: poppins;   
            position: relative;


            &::after {
                content: "";
                background-color: var(--them-colour);
                height: 19px;
                width: 107px;
                border-radius: 128px 0px 144px 0px;
                position: absolute;
                right: -15px;
                top: 11px;
                /* left: 0px; */
                transform: rotate(173deg);
                z-index: -999;
            }

        }
    }

    .Checkout-left-body {

        // border: 1px solid red;
        padding: 10px 0px;
        .checkout-p {
            font-size: 17px;
        }

        .alredy-p {
            background: #FFF5EA;
            border: 1px solid #FFE4C7;
            border-radius: 3px;
            padding: 7px 0px;
            margin-bottom: 1rem;
        }

        .edit-p a{
            color: #9B5701;
        }

        .billing-p {
            color: var(--black);
            font-size: 17px;
            font-weight: 500;
        }

        .checkout-input-wid {
            width: 47%;
        }

        input {
            padding: 5px 5px;
            margin: 5px 0px;
            color: #828282;
            border: 1px solid #828282;
            border-radius: 3px;
           

        }
        input[type=number] {
            -webkit-appearance: none;
            -moz-appearance: textfield;
            appearance: none !important;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

        select {
            padding: 5px 5px;
            margin: 5px 0px;
            color: #828282;
            border: 1px solid #828282;
            border-radius: 3px;

        }
    }
    .shipping-bogy{
        padding: 50px 0px 0px 0px;
        .shipping-btn{
            background-color: var(--white);

            border: 1px solid var(--them-colour);
            border-radius: 5px;
            color:var(--black);
            font-size: 17px;
            font-weight: 600;
            padding: 7px 30px;
            -webkit-transition: ease-out 0.4s;
            -moz-transition: ease-out 0.4s;
            transition: ease-out 0.4s;

            &:hover {
                // background-color: var(--them-colour);
                color: white;
                // transform: translateX(-100%);
                box-shadow: inset 400px 0 0 0 #E79835;
            }
        }
    }
    .oder-sumary-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .oder-p{
            font-size: 16px;
         
        }
        .edit-p a{
            color: #9B5701;

        }
    }
    .oder-detail{
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        border-bottom: 1px solid #E0E0E0;
        padding-bottom: 10px;
        .oder-img-box{
            padding: 5px;
            img{
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }
        .odre-head-text{
            font-size: 15px;
            line-height: 20px;
            font-weight: 500;
        }
        .oder-des{
            font-size: 13px;
            font-weight: 400;
            line-height: 20px;
        }
        .input-num{
            height: 21px;
            color: #8B96A5;
            border:1px solid #8B96A5;
            border-radius: 5px;
        }
      
    }
    .review-des{
        color: #645A5C;
        line-height: 20px;
        font-size: 14px;
    }
    .policy-input{
        display: flex;
        p{
            line-height: 20px;
            font-size: 12px;
        }
        input{
            height: 13px;
            width: 13px;
            margin-top: 5px;
            background-color: var(--them-colour);
        }
        span{
            color: #B56807;
        }
    }
   a{
    color: var(--black);
    font-weight: 600;
    font-size: 17px;
    display: flex;
    justify-content: center;
    .place-oder-btn{
        background-color: var(--white);
        border: 1px solid var(--them-colour);
        text-align: center;
        border-radius:5px ;
        padding: 7px 10px;
        font-weight: 600;
        cursor: pointer;
        -webkit-transition: ease-out 0.4s;
        -moz-transition: ease-out 0.4s;
        transition: ease-out 0.4s;
        
        &:hover {
            // background-color: var(--them-colour);
            color: white;
            // transform: translateX(-100%);
            box-shadow: inset 400px 0 0 0 #E79835;
        }
     
   }    
    }
}