/* ================ Delivery section Start ============= */
.delivery-section {
    padding: 30px 0px;

    .address-body {

        // border: 1px solid red;
        .Address-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

            p {
                font-size: 17px;

                a {
                    color: #B56807;

                }
            }

        }



        .delivery-contain {
            background-color: #FEF9F1;
            padding: 10px 20px;
            margin-bottom: 20px;

            .delivery-name {
                display: flex;
                justify-content: space-between;
                align-items: center;

                input {
                    accent-color: #B56807;
                    width: 15px;
                    height: 15px;
                }

                .home-tag {
                    // background-color: var(--light);
                    color: #797676;
                    font-weight: 400;
                    padding: 2px 8px;
                    border-radius: 5px;
                    margin-left: 10px;
                    font-size: 12px;
                    background: #E0DCDC;

                }
            }

            .edit{
                a {
                    color: #B56807;
                  
                }
                .Delete-colour{
                    color: red;
                    margin-left: 20px;
                    cursor: pointer;
                }
            } 
           

            .delivery-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 10px;

                p {
                    background-color: var(--white);
                    border: 1px solid var(--them-colour);
                    padding: 8px 30px;
                    border-radius: 5px;
                    cursor: pointer;
                    -webkit-transition: ease-out 0.4s;
                    -moz-transition: ease-out 0.4s;
                    transition: ease-out 0.4s;

                    &:hover {
                        // background-color: var(--them-colour);
                        color: white;
                        // transform: translateX(-100%);
                        box-shadow: inset 400px 0 0 0 var(--them-colour);
                    }

                    a {
                        color: var(--black);
                        font-size: 15px;
                        font-weight: 500;

                        &:hover {
                            color: white;
                        }
                    }
                }
            }
        }
    }

    .total-body {
        // border: 1px solid red;

        .total-body-head {
            margin-bottom: 10px;
            display: flex;

            p {
                // padding: 10px 0px;
                font-size: 17px;
            }
        }


        .total-body-contain {
            background-color: #FEF9F1;
            padding: 10px 30px;

            .total-pro-price {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #959090;
            }

            .all-total-pri {
                padding-top: 10px;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

/* ================ Delivery section End ============= */