.delivery-section {
    padding: 30px 0px;

    .address-body {

        // border: 1px solid red;
        .Address-head {
            display: flex;
            justify-content: space-between;
            align-items: center;

        }

        .Address-head p:nth-child(2) {
            color: #B56807;
        }

        .delivery-contain {
            background-color: var(--light);
            padding: 10px 20px;

            .delivery-name {
                display: flex;
                justify-content: space-between;
                align-items: center;

                input {
                   accent-color:#B56807;
                   width: 15px;
                   height: 15px;
                }

            }

            .delivery-btn {
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    background-color: var(--white);
                    border: 1px solid var(--them-colour);
                    padding: 8px 30px;
                    border-radius: 5px;
                    cursor: pointer;
                    -webkit-transition: ease-out 0.4s;
                    -moz-transition: ease-out 0.4s;
                    transition: ease-out 0.4s;
                    &:hover {
                        // background-color: var(--them-colour);
                        color: white;
                        // transform: translateX(-100%);
                        box-shadow: inset 400px 0 0 0 #E79835;
                    }

                    a {
                        color: var(--black);
                        font-size: 15px;
                        font-weight: 500;
                        &:hover{
                            color: white;
                        }
                    }
                }
            }
        }
    }

    .total-body {
        // border: 1px solid red;

        .total-body-head {
            // padding: 10px 0px;
            font-size: 17px;
        }

        .total-body-contain {
            background-color: var(--light);
            padding: 10px 30px;
            .total-pro-price {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #959090;
            }
            .all-total-pri{
                display: flex;
                justify-content: space-between;
            }
        }
    }
}