/* =========================== policy setion start ======================== */

.policy-hed {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.policy-hed h1 {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    color: var(--them-colour);
    padding-top: 16px;
}

.policy-body {
    // margin-top: 10px;
    margin-bottom: 80px;
    width: min(100% - 30px, 90%);
    margin-inline: auto;
    z-index: 9999;
    position: relative;
}

.policy-body .policy-box1 {
    padding: 30px;
    // border: 1px solid red;
    // height: 100vh;
}

.policy-body .policy-box1 h1 {
    color: var(---black);
    font-weight: 600;
    line-height: 30px;
    font-size: 22px;
    // margin: 12px 0px;
    margin-top: 20px;
    margin-bottom: 6px;
}

.policy-body .policy-box1 p {
    line-height: 35px;
    letter-spacing: 0.5px;
    font-size: 16px;
    margin: 0;
}

.policy-body .policy-box1 p a {
    text-decoration: none;
}

.policy-body .policy-box1 .cheak-add span i {
    color: rgb(210, 211, 212);
    padding-inline: 5px;
}

/* =========== policy setion end  =================== */