.sidebar-produtespage {
    padding: 30px 20px;

    .side-menu-box {
        border-radius: 5px;
    }
}

.products-grid-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: center; */
    gap: 40px 40px;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
    padding: 50px 50px;

    .box-card {
        border-radius: 20px;
        // margin: 1rem 0rem;
        position: relative;
        height: fit-content;
        width: 280px;
        background-color: var(--white);
        // border: 1px solid gray;
        // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;



        .card-img {
            /* border-radius: 30px; */
            overflow: hidden;
            height: 150px;
            width: min(100% - 10px, 150px);
            margin-inline: auto;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                // height: 240px;

                img {
                    width: 100%;
                    height: 100%;
                    transition: all 0.5s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

        }

        .card-body {
            background-color: white;
            border-radius: 5px 5px 20px 20px;

            .card-con {
                padding: 1rem 1rem;

                h1 {
                    font-weight: 600;
                    font-size: 22px;
                    padding-bottom: 0;
                    line-height: 24px;
                }

                h6 {
                    font-size: 12px;
                    font-weight: 400;
                }

                p {
                    span:nth-child(1) {
                        font-weight: 600;
                        font-size: 24px;
                    }

                    .mrp {
                        font-size: 16px;
                        font-weight: 400;

                    }

                }

                a {
                    color: black;
                    margin-top: 10px;

                    .shpoing-btn {
                        padding: 10px 10px;
                        border: 1px solid var(--them-colour);
                        border-radius: 50px;
                        font-size: 18px;
                        font-weight: 600;
                        text-align: center;
                        -webkit-transition: ease-out 0.4s;
                        -moz-transition: ease-out 0.4s;
                        transition: ease-out 0.4s;
                        // width: auto;
                        // margin-inline: auto;

                        &:hover {
                            // background-color: var(--them-colour);
                            color: white;
                            // transform: translateX(-100%);
                            box-shadow: inset 400px 0 0 0 #E79835;
                        }

                        i {
                            margin-right: 10px;
                            font-size: 25px;
                            /* color: #068381;*/
                        }
                    }
                }
            }
        }

        .head-stars {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 10px;
            padding-inline: 25px;

            .reviews {
                background-color: #FFDAAD;
                padding: 3px 8px;
                border-radius: 20px;
                display: flex;
                align-items: center;
                font-size: 12px;

                i {
                    color: #E79835;
                    // font-size: 15px;
                }

            }

            .false-seal {
                background-color: #FFDAAD;
                border-radius: 50%;
                height: 30px;
                width: 30px;
                display: flex;
                align-items: center;
                justify-content: center;

                .heart path {
                    fill: transparent;
                    stroke: var(--black);
                    transition: 0.2s ease all;
                }

                .heart:hover {
                    animation: pulse 0.2s ease;
                }

                .heart:hover path {
                    fill: var(--them-colour);
                    stroke: var(--them-colour);
                }

            }
        }
    }
}

.accordion .accordion-contentBx {
    position: relative;
    margin: 10px 20px;
}

.accordion-contentBx {
    overflow-y: auto;
}

.accordion .accordion-contentBx .accordion-label {
    position: relative;
    padding: 10px;
    background-color: white;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span i {
        color: #8B96A5;
        transform: rotate(-180deg);
    }
}

// .accordion .accordion-contentBx .accordion-label::before {
//     content: '	\005E';
//     position: absolute;
//     top: 50%;
//     right: 20px;
//     transform: translateY(-50%);
//     font-size: 1.5em;
// } 
// .accordion .accordion-contentBx.active .accordion-label::before {
//     content: '-';
// } 

.accordion .accordion-contentBx .accordion-content {
    position: relative;
    padding: 0px;
    background: #EFEFEF;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;

    p a {
        color: black;

        input[type="checkbox"] {
            accent-color: var(--them-colour);
            border: 2px solid var(--them-colour);
        }
    }

    .star i {
        color: #FF9017;

    }

    .no-colour {
        color: #BDC4CD !important;
    }

    .accordion-icon {
        a {
            transition: all ease-in .2s;

            &:hover {
                color: var(--them-colour);
            }

            iconify-icon {

                span,
                svg {

                    color: 777777;
                }
            }
        }

    }
}

.accordion .accordion-contentBx.active .accordion-content {
    padding: 10px 30px;
    height: 250px;
}