/* =============== Profile Setion Start ================ */
.profile-section {
    padding: 20px 0px;

    .profile-left-body {
        background-color: white;
        padding-inline: 20px 20px;

        a {
            color: rgb(147 147 147);
            font-weight: 500;

            &:hover {
                color: var(--them-colour);
            }

            p {
                margin: 0px;
            }
        }

        .active-a {
            color: rgb(24, 23, 23);

            &:hover {
                color: var(--them-colour);

            }
        }

    }

    .profile-right-body {
        background-color: white;
        padding: 20px 30px;
        color: var(--black);

        .submit-profile {
            background-color: var(--white);
            border: 1px solid var(--them-colour);
            border-radius: 5px;
            color: var(--black);
            padding: 10px 50px;
            font-size: 16px;
            font-weight: 600;
            -webkit-transition: ease-out 0.4s;
            -moz-transition: ease-out 0.4s;
            transition: ease-out 0.4s;

            &:hover {
                // background-color: var(--them-colour);
                color: white;
                // transform: translateX(-100%);
                box-shadow: inset 400px 0 0 0 var(--them-colour);
            }

        }

        input {
            border: 1px solid #1B1B1B;
            padding: 2px 4px;
        }

        textarea {
            border: 1px solid #1B1B1B;
            padding: 2px 4px;

        }

    }

    .img-icon-box {
        display: contents;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

/* =============== Profile Setion End ================ */