/* ================ produtcs-view-deatils-page start ==================== */
/* ========= Xzoom = (Start) ========================= */
.x-zoom-body {
	display: flex;
	align-items: center;
	justify-content: center;
}

.xzoom_part {
	padding: 30px 0px;

	.xzoom-heart-hide {
		display: none !important;
	}

	.container {
		background-color: white;
		padding: 25px 0px;
		// border-radius: 50px;
	}

	.xzoom_container {

		// border: 1px solid red;
		overflow: hidden;
		// width: 401px;
	}

	.xzoom-thumbs {
		margin: 0px 0;
		margin-top: 20;
		display: flex;
		// overflow-x: scroll;
		// margin-inline: 20px;
		gap: 10px;

		.swiper-slide {
			// width: 20% !importa  nt;
			display: flex;
			justify-content: center;

			img {
				border: none;
				opacity: 0.8;

				&:hover {
					border: none !important;
					// border: 5px solid red;
					outline: none !important;
					opacity: 1;
				}

			}
		}

		.swiper-button-next {
			color: var(--them-colour);
			// border: 1px solid red;
			background-color: var(--light);
			// height: 100%;
			right: 0;

			// display: none;
			&::after {
				font-size: 22px;
			}
		}

		.swiper-button-prev {
			color: var(--them-colour);
			left: 0;
			background-color: var(--light);

			&::after {
				font-size: 22px;
			}
		}
	}

	.xzoom-thumbs::-webkit-scrollbar {
		width: px;
		background-color: #FDEAD3;
		cursor: pointer;
		height: 8px;
	}

	.xzoom-thumbs::-webkit-scrollbar-thumb {
		background: #F7A742;
		border-radius: 4px;
		width: 5px;
	}

	.xzoom {
		// height: 360px;
		width: 100%;
		// box-shadow: 1px 4px 8px #aaa;
		// border: 1px solid #ce8c8c;
	}

	.xzoom-gallery {
		border: 1px solid #aaa;
		height: 60px;
		width: 60px;
	}

	.xzoom-gallery:hover {
		border: 1px solid #378bbf;
	}

	.xzoom-lens {
		cursor: zoom-in;
	}

	.xzoom-heart {
		display: flex;
		justify-content: flex-end;
		margin-right: 15px !important;

		.false-seal {
			background-color: #FFDAAD;
			border-radius: 50%;
			height: 25px;
			width: 25px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0;

			svg {
				width: 15px !important;
				height: 15px !important;
			}

			.heart path {
				fill: transparent;
				stroke: var(--black);
				transition: 0.2s ease all;
			}

			.heart:hover {
				animation: pulse 0.2s ease;
			}

			.heart:hover path {
				fill: var(--them-colour);
				stroke: var(--them-colour);
			}

		}
	}


	.xzoom_details {

		// padding: 30px 0px;
		.btn-contain {
			p {
				font-size: 17px;
				font-weight: 500;
				line-height: 22px;
				margin-bottom: 8px;
			}
		}

		.btn-body {
			display: flex;
			flex-wrap: wrap;

			.btn-views-1 {
				margin-left: 0 !important;
			}

			.btn-views {
				padding: 5px 10px;
				border: 1px solid var(--them-colour);
				margin-left: 10px;
				cursor: pointer;

				&:hover {
					background-color: var(--them-colour);
				}

				a {
					color: var(--black);
					font-size: 16px;
				}
			}
		}
	}

	.xzoom-body-contain {
		margin: 0;
		padding: 0px 20px;
	}

	.xzoom_details h4 {
		// padding-bottom: 10px;
		// margin: 0;
		font-size: 22px;

	}

	.xzoom_details h3 {
		font-size: 22px;
		margin-bottom: 0;

		span {
			color: rgba(34, 34, 34, 0.75);
			font-weight: 300;
			font-size: 15px;

		}
	}


	.xzoom_details {
		h4 {
			span {
				.veg-nonveg-icon {
					font-size: 28px;
					color: green;
				}
			}
		}

		.star {
			margin: 0;

			i {
				color: #FF8332;
			}

		}
	}


	.xzoom_details h6 {
		font-weight: 400;
		font-size: 15px;
		// line-height: 1.6;
	}

	.xzoom_details label {
		font-weight: 600;
		font-size: 17px;
		margin-right: 10px;
		color: #1f2531;
	}

	.xzoom_details .form-control {
		width: 8%;
		height: 30px;
		padding: 3px 0px;
		padding-left: 5px;
		border: 0.5px solid #aaa;
		font-size: 15px;
		font-weight: 500;
		// text-align: center;
		cursor: pointer;

		&:focus {
			box-shadow: none;
		}
	}


	.btn-xzone-body {

		a {
			color: var(--black);

			.btn-xzone {
				padding: 7px 10px;
				border: 1px solid var(--them-colour);
				border-radius: 5px;
				background-color: var(--white);
				font-size: 17px;
				font-weight: 500;
				color: black;
				text-align: center;
				margin-left: 20px;
				-webkit-transition: ease-out 0.4s;
				-moz-transition: ease-out 0.4s;
				transition: ease-out 0.4s;
				margin-bottom: 0px;

				&:hover {
					background-color: var(--light);
					color: white;
					// transform: translateX(-100%);
					box-shadow: inset 400px 0 0 0 var(--btn-hover);
				}

				i {}

			}
		}

	}
}

/* ========= Xzoom = (End) ========================= */
.product-pag-body {
	display: flex;
	align-items: center;
	// padding: 50px;

}

.reviews-body {
	// padding: 0px 0px 50px 0px;
	border: 1px solid #DEE2E7;
	/* shadow/x1 */

	box-shadow: 0px 1px 3px rgba(56, 56, 56, 0.1);
	border-radius: 6px;
	margin-bottom: 30px;

	nav {
		background: #F2F2F2;
		border-radius: 6px 6px 0px 0px;
		padding: 0px 0px;

		.nav-tabs {
			border-bottom: none;


			.nav-link {
				background: transparent;
				background: none;
				border: none;
				font-size: 17px;
				padding: 11px 35px;
			}

		}

	}

	.Description-contain {
		padding: 20px 40px 0px 40px;
		color: #505050;

		p {
			font-size: 15px;
			line-height: 22px;
			margin-bottom: 10px;
		}

		b {
			color: #000;
		}

		.higlight-colur {
			color: #B56807;
		}
	}

	.star-body {
		padding: 50px 0px;

		.big-star-body {
			display: flex;
			align-items: center;
			justify-content: center;
			height: auto;

			p {
				// margin: 0;

				i {
					color: #FF8332;
					font-size: 25px;
				}

				span {
					font-weight: 400;
					font-size: 22px;
				}
			}

			.Verified {
				font-weight: 400;
				font-size: 18px;
				color: rgba(0, 0, 0, 0.56);
				text-align: center;
				line-height: 20px;

			}


		}
	}

	.Description-body {
		border-right: 1px solid rgba(0, 0, 0, 0.54);
	}

	.reviews-container {
		// padding: 20px;
		border-left: 1px solid #999494;
		padding-left: 50px;


		.review {
			border-radius: 5px;
			color: var(--black);
			display: flex;
			font-size: 15px;
			align-items: center;
			margin: 5px 0;

			.icon-container {
				display: flex;
				align-items: center;
				width: 50px;
				justify-content: center;

				// border: 1px solid blue;
				i {
					color: #FF7500;
				}
			}

		}

		// .review:hover {
		// 	border: 1px solid #ddd;
		// 	box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.7);
		// }

		.progress {
			background-color: rgba(100, 100, 100, 0.2);
			border-radius: 50px;
			position: relative;
			margin: 0px 5px;
			height: 15px;
			width: 341px;
			margin-left: 6px;
		}

		.progress-bar {
			background-color: #FF7500;
			// background: linear-gradient(to left, rgb(242, 112, 156), rgb(255, 148, 114));
			// box-shadow: 0 3px 3px -5px rgb(242, 112, 156), 0 2px 5px rgb(242, 112, 156);
			border-radius: 5px;
			width: 0;
			// border: 1px solid red;
			transition: width 1s ease 0.3s;
		}

		.percent {
			color: var(--black);
		}
	}
}

.view-page {
	padding: 30px 50px;

	a {
		text-decoration: underline;
		color: #9B5701;
		font-weight: 500;
		font-size: 17px;
	}
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	color: #9B5701;
	border-bottom: 2px solid #9B5701 !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
	color: black;
	// border-bottom: 2px solid #9B5701 !important;
}

/* ================ produtcs-view-deatils-page End ==================== */