/* ==================  scroll top Start ===================== */

.scroll-to-top {
  position: relative;
}

.btn-position {
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}

.btn-style {
  background-color: var(--them-colour);

  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: var(--White);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.btn-style:hover {
  background-color: rgb(235, 176, 66);

  i {
    color: aliceblue;
  }
}

.icon-style:hover {
  animation: none;
  background: var(--light);
  color: white;
  border: 2px solid var(--White);
}

/* ==================  scroll top End ===================== */
