/* =================  Wish-list Setion Start ============ */
.my-whish-section {
    padding: 5px 0px;

    .my-whish-head {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 25px;
            font-weight: 600;
            font-family: poppins;
            position: relative;


            &::after {
                content: "";
                background-color: var(--them-colour);
                height: 19px;
                width: 107px;
                border-radius: 128px 0px 144px 0px;
                position: absolute;
                right: -15px;
                top: 26px;
                /* left: 0px; */
                transform: rotate(173deg);
                z-index: -999;
            }

        }

        p a {
            color: var(--them-colour);
            font-size: 17px;
        }
    }

    .my-whish-contain {
        background-color: var(--light);
        border-radius: 20px;
        padding: 15px;
        margin-bottom: 15px;

        .my-whish-img-box {
            // border: 1px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            background-color: var(--white);
            height: 135px;
            width: 135px;
            margin: 8px;
            border-radius: 5px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .my-wish-list {
            a {
                color: var(--black);

                h5 {
                    margin: 0;
                }
            }

            p {
                font-size: 15px;
                line-height: 20px;
                margin-bottom: 7px;
            }

            h3 {
                font-size: 22px;
                margin: 0;
                line-height: 26px;

                span {
                    color: rgba(34, 34, 34, 0.75);
                    font-weight: 300;
                    font-size: 15px;

                }
            }

            .star {
                i {
                    color: #FF8332;
                }
            }

            .btn-mywish-body {
                margin-top: 12px;

                .bin-body {
                    display: none;

                    a i {
                        color: black;
                    }
                }

                a {
                    color: var(--black);

                    .btn-mywhish {
                        padding: 7px 7px;
                        border: 1px solid var(--them-colour);
                        border-radius: 5px;
                        background-color: var(--white);
                        font-size: 16px;
                        font-weight: 500;
                        color: black;
                        text-align: center;
                        width: 160px;
                        -webkit-transition: ease-out 0.4s;
                        -moz-transition: ease-out 0.4s;
                        transition: ease-out 0.4s;
                        margin-bottom: 0px;

                        &:hover {
                            background-color: var(--light);
                            color: white;
                            // transform: translateX(-100%);
                            box-shadow: inset 400px 0 0 0 var(--btn-hover);
                        }


                    }
                }
            }


        }

        .bin-body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20px;
            width: 20px;
            padding: 15px;
            cursor: pointer;
            background-color: var(--white);
            border: 1px solid #DEE2E7;
            /* shadow-sm */

            box-shadow: 0px 1px 2px rgba(56, 56, 56, 0.08);
            border-radius: 6px;

            a i {
                color: black;
            }

        }
    }
}

/* =================  Wish-list Setion End ============ */