/* =========== Phone and Tablets css ===========*/
@media (max-width:991px) {

    h1 {
        font-weight: 600;
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 0.1;

    }

    h2 {
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 34px;
        letter-spacing: -0.04em;
    }

    h3 {
        font-size: 24px;
        line-height: 34px;
    }

    h4 {
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.04em;
    }

    p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
    }

    .img-nav {
        padding-left: 25px !important;
        font-size: 25px !important;
    }

    .btn-nav {
        margin-right: 25px;
    }

    .trending-head {
        h1 {
            font-size: 20px;

            &::after {
                top: 0;
            }
        }

        a {
            font-size: 15px;

        }
    }

    .min-hed {
        min-height: 55px !important;

        .head-section {
            margin-inline: 30px;
        }

        .inputcontainer {
            margin-left: 0px;
            min-height: 37px !important;

            input {
                width: 80% !important;
                padding-left: 13px !important;

                &:focus {
                    border: none;
                    outline: none;
                }
            }

            button {
                padding: 0px !important;
            }
        }

        .shoping-cart {
            width: 40px;
            height: 40px;
        }

        .login-section .login-btn {
            margin-right: 0px;
            padding: 5px 14px;
            margin-inline: 5px;
        }

        .modal-body {
            padding: 0px;
        }

        .login-section .modal-content {
            padding: 15px 15px;
            width: 100%;
        }

        .login-section .modal-content p {
            font-size: 13px;
        }

        .login-section .modal-content .modal-body .resend-p {
            font-size: 13px;
        }
    }

    .min-hed .inputcontainer button {
        left: 5px !important;
    }

    .min-hed .login-section .login-btn {
        margin-right: 0px !important;
        padding: 1px 10px !important;
        margin-inline: 5px !important;
    }

    .min-hed .shoping-cart {
        width: 30px;
        height: 30px;
    }

    .min-hed .shoping-cart {
        margin-right: 0px;
    }

    .min-hed .inputcontainer input {
        width: 89% !important;
        padding-left: 13px !important;
        font-size: 15px;
    }

    .min-hed .inputcontainer button i {
        color: #ABABAB;
        font-size: 14px;
        left: 0;
    }


    .nav-section .nav-ul .menu-wrapper {
        width: 300px;
        margin-left: 0px;
        padding: 30px !important;
    }

    .mydropudowan {
        left: 0;
        width: 100% !important;
    }

    .min-hed .login-section .modal-content {
        // padding: 15px 15px;
        width: 100%;
        left: 0;
        top: 30px;
    }

    /* ================= banner ============== */
    .banner-wrapper {
        // height: 100vh;
        padding: 0.5rem 0rem;
    }


    /* =================== /banner end ==================  */
    .cat-round {
        .carte-body {
            padding: 0px !important;

            .carte-contain {
                padding: 10px 0px !important;

                P {
                    margin: 0;

                    a {
                        font-size: 15px;
                        line-height: 20px;
                    }
                }

            }
        }


    }

    .cat-round .carte-body .carte-contain .carte-img-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px;
        gap: 10px;
        width: 100px;
        height: 100px;
        background: #FFFFFF;
        border-radius: 50%;
    }

    /* ==================  Tranding section Start ==============  */

    .trending-head {
        h1 {
            font-size: 24px !important;

            // padding-left: 5px;
            &::after {
                top: 12px !important;
            }
        }
    }

    .slider-card {
        padding-inline: 0px;
    }

    .slider-cat {
        padding-inline: 30px !important;
    }

    /* ==================  Tranding section End ==============  */


    .brnad-home-section {

        padding-inline: 00px;
    }

    .brand-section {

        h1 {
            font-size: 24px !important;
            padding-left: 12px !important;

            span {
                top: 14px !important;
                left: 100px !important;
                height: 17px !important;
                width: 87px !important;
            }
        }
    }

    .blog-setion .trending-head h1 {
        padding-left: 5px;
    }

    .blog-setion {
        padding: 95px 20px;

        .blog-body {
            gap: 30px;
        }
    }

    .blog-setion .blog-body .blog-contaion {
        width: 30%;
    }

    /* ======================  footer section start ======================== */
    footer {
        padding-top: 0px;
    }

    .footer-icon-box {
        span {
            font-size: 25px !important;
        }
    }

    footer .footer-list {
        padding-top: 50px;
    }

    footer .footer-list li a {
        font-size: 15px;
    }

    footer .footer-left-body {
        padding-top: 50px;
    }

    footer .footer-left-body .footer-icon-box img {
        width: 8%;
    }

    /* ======================  footer section End ======================== */


    /* ==============  Product Grid View page start ========================= */
    .products-grid-body {
        padding: 0px 0px;
        padding-bottom: 20px;
        justify-content: center;
        gap: 30px;
    }

    .products-grid-body .box-card {
        width: 228px;
    }

    .product-grid-section-header {
        padding-left: 8px;

        h1 {
            font-size: 24px !important;

            // padding-left: 5px;
            &::after {
                top: 18px !important;
                height: 15px;
                width: 70px;
            }
        }

    }

    /* ==============  Product Grid View page end ========================= */
    /* =========================== policy setion start ======================== */




    .policy-hed h1 {
        font-size: 25px;
        line-height: 25px;
    }

    .shipping-hed h1 {
        line-height: 25px !important;
        font-size: 19px !important;
    }

    .policy-body .policy-box1 {
        padding: 0px;
    }

    .policy-body .policy-box1 h1 {
        line-height: 30px;
        font-size: 17px;
    }

    .policy-body .policy-box1 p {
        line-height: 25px;
        font-size: 13px;
    }

    /* =========== policy setion end  =================== */
    /* =================  Product Details page Start ================== */
    .product-page-slider {
        padding: 0px;
        height: 427px;
    }

    .Description-contain {
        padding: 20px !important;
    }

    /* =================  Product Details page End ================== */
    /* ================ produtcs-view-deatils-page Start ==================== */

    /* ========= Xzoom = (Start) ========================= */
    .xzoom-body-contain {
        padding: 30px !important;

        .xzoom_details {
            h4 {
                font-size: 17px;
            }

            h6 {
                font-size: 14px;
            }
        }
    }

    .x-zoom-body {
        display: block !important;
        padding-right: 0;
        position: relative !important;

        .x-zoomin-responsive {
            display: flex;
            justify-content: flex-end;
            // padding-top: 30px;
            padding-right: 25px;
        }
    }

    .xzoom_part {
        padding-top: 15px;

        .xzoom-heart-hide {
            display: block !important;
            position: absolute;
            // top: 31px;
            // left: 315px;
            padding-top: 8px;
        }

        .row {
            margin-right: 0px !important;
        }

        .container {
            padding: 0px !important;
        }

        .btn-xzone-body .btn-xzone {
            padding: 8px 10px;
            font-size: 15px;
        }

        .btn-body .btn-views a {

            font-size: 15px;
        }

    }

    .xzoom_part .xzoom_details h4 span .veg-nonveg-icon {
        font-size: 17px;
        color: green;
    }

    .xzoom_part .xzoom_container {
        .xzoom-body-responsive {
            padding: 40px;
        }

        margin: 0px 0px;
        padding: 0px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .xzoom-thumbs {

        display: flex;
        // overflow-x: scroll;
        gap: 10px;

        margin-inline: 50px !important;

        .swiper-slide {
            display: flex;
            justify-content: center;
        }
    }

    .xzoom_part .xzoom_details .btn-body .btn-views {
        padding: 7px 10px;
    }

    .reviews-body .Description-contain p {
        font-size: 15px;
        line-height: 22px;
    }

    /* ========= Xzoom = (End) ========================= */
    .Description-body {
        border-right: none;
    }

    .reviews-container {
        border: none;
    }

    .reviews-body .reviews-container .progress {
        width: 200px;
    }

    .xzoom-body-contain {
        .heart-hide-responsive {
            display: none !important;
        }

        .form-control {
            width: 12% !important;
        }
    }

    /* ================ produtcs-view-deatils-page End ==================== */
    /*  ================  rating and reviews page start =================== */
    .reviews-body .star-body .big-star-body p {
        margin: 14px;
    }

    .reviews-body .star-body {
        padding: 30px 0px;
    }

    .reviews-body .reviews-container {
        border-left: none;
        padding: 20px 25px;
    }

    .customer-body {
        .profile-face {
            margin: 4px 15px;
            width: 60px;
            height: 60px;

        }

        .comant-body {
            p {
                font-size: 14px !important;
            }
        }
    }

    .all-revies-body .comant-body .like-star .thumbs-up-like-unlike-body i {
        font-size: 15px;
    }

    /*  ================  rating and reviews page start =================== */
    /* ================= whish list page section start ===================== */
    .my-whish-section .my-whish-head {
        h1 {
            font-size: 20px;

            &::after {
                top: 15px !important;
            }
        }

        p a {
            font-size: 15px;
        }
    }

    .my-whish-section .my-whish-contain {
        padding-top: 7px;
    }

    .my-whish-section .my-whish-contain .my-wish-list p {
        font-size: 14px;

    }

    .my-whish-section .my-whish-contain .my-wish-list p:nth-child(3) {
        margin-bottom: 0px !important;
    }

    .my-whish-section .my-whish-contain .bin-body {
        display: none;

    }

    .my-whish-section .btn-mywish-body {
        display: flex;

        align-items: center;
        margin-top: 0px !important;
    }

    .my-whish-section .btn-mywish-body .bin-body {
        display: block !important;
        display: flex;
        text-align: center;
        padding: 4px;
        width: 30px;
        height: 30px;
        margin-bottom: 0px !important;
        margin-right: 10px !important;

        a i {
            color: black;
        }
    }

    /* ================= whish list page section start ===================== */

    /* ============== cart page section start ================== */
    .cart-section {
        .my-cart-head {
            h1 {
                font-size: 22px;

                &::after {
                    top: 10px;
                    /* left: 0px; */
                }

            }
        }

        .my-cart-contain .my-cart-list p {
            line-height: 21px;
        }
    }

    .cart-section .my-cart-contain .my-cart-list .form-box {
        margin-top: 0px !important;
        // padding-left: 10px;
        justify-content: space-between;
        align-items: center;
    }

    .cart-section .my-cart-contain .my-cart-list .form-control {
        width: 16% !important;
    }

    .cart-section .my-cart-contain .bin-box .bin-body {
        display: none;
    }

    .cart-section .my-cart-contain .bin-remove-add {
        display: block;
    }

    .cart-section .my-cart-contain .my-cart-img-box {
        padding: 10px !important;
        height: 135px !important;
        width: 135px !important;
        margin: 8px !important;
    }

    .cart-section .Delivery-fix-body .Delivery-at-contain .Delivery-at p {
        margin-bottom: 5px;
    }

    /* ============== cart page section End ================== */
    /* ===============  delivery-addres page start =============*/
    .delivery-section {
        padding: 10px 0px;

        .address-body {
            .Address-head p {
                font-size: 15px;
            }

            .address-write {
                font-size: 15px;
                line-height: 22px;
            }
        }

        .total-body {
            margin-top: 30px;

            .total-body-head {
                font-size: 16px;
            }
        }
    }

    /* ===============  delivery-addres page End =============*/
    /* ================ Blog page start ===================*/
    .blog-section {
        .blog-body .blog-contain p {
            line-height: 24px;
            font-size: 15px;
        }

        .blog-section-header {
            h1 {
                font-size: 24px !important;

                // padding-left: 5px;
                &::after {
                    top: 18px !important;
                    height: 15px;
                    width: 70px;
                }
            }

            a {
                font-size: 15px;
            }
        }

        .blog-right-body .blog-right-head-1 {
            padding-top: 0px;
        }

        .blog-right-body .blog-right-section-2 {
            padding: 0px;
        }

    }

    /* ================ Blog page End ===================*/

    /* =============== single-blog-page- start =============== */
    .single-blog-section {
        padding: 5px 0px;
        padding-bottom: 10px;

        .singal-blog-head {
            h1 {
                font-size: 24px !important;

                // padding-left: 5px;
                &::after {
                    top: 18px !important;
                    height: 15px;
                    width: 70px;
                }
            }

            a {
                font-size: 15px;
            }
        }

        .blog-body {
            padding-bottom: 20px;

            .blog-contain {
                padding: 10px 0px;

                h4 {
                    font-size: 17px;
                }

                p {
                    font-size: 15px;
                    line-height: 22px;
                }
            }
        }
    }

    /* =============== single-blog-page- End =============== */
    /* =============== Contact-us-page-Start =============== */


    .contact-section {
        padding: 0px 0px;

        .contact-header {

            // margin-inline: auto;
            .contact {

                font-size: 22px;

                span {
                    height: 20px;
                    width: 100px;
                    // right: 105px;
                    left: 93px;
                    top: 20px;
                }
            }
        }

        .from-contact-body {
            padding: 0px 0px;
        }

        .contact-body {
            margin: 10px 0px;

            .contact-box {
                padding: 10px 20px;

                h4 {
                    font-size: 20px;
                }

                p {
                    color: #5A5B5A;
                    margin: 0;
                    font-size: 15px;
                    line-height: 22px;
                }
            }
        }

        .get-touch-body {
            padding: 10px 0px;

            h4 {
                font-size: 20px;
            }

            p {
                font-size: 15px;
                margin-bottom: 0%;
            }
        }
    }

    /* =============== Contact-us-page-End =============== */
    /* ================== profile-page Start =============*/
    .profile-section {
        padding: 10px;

        .profile-right-body {
            margin: 5px 0px;
            padding: 10px 10px;
        }

        .profile-left-body {
            margin: 5px 12px;
        }

        .img-icon-box {
            width: 50%;

            a {

                width: 50%;
                height: auto;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    /* =================== profile-page End ==============*/
    /* ==================== Checkout page start ==================== */
    .Checkout-section .billing-body {
        padding-top: 30px;
    }

    /* ==================== Checkout page End ======================== */
    /* ===================== about us page start ======================*/
    .About-section {
        .about-body {
            padding: 0px;
        }
    }

    /* ===================== about us page End ======================*/

}


/* ======== custom css ======= */
@media (max-width:1024px) {
    .banner-wrapper .banner .mySwiper-1 .banner-txt h1 {
        font-size: 24px;
        line-height: 30px;
    }

    .slider-card {
        padding-inline: 0px;
    }

    .slider-cat {
        padding-inline: 0px;
    }

    .blog-setion .blog-body {
        gap: 30px;
    }

    .blog-setion .blog-body .blog-contaion {
        width: 30%;
    }

    .product-grid-left-section .product-grid-left-box .left-box-main .Left-contain {
        padding: 0px 9px;
    }
}

@media (min-width: 1280px) {


    .products-grid-body .box-card {
        width: 252px;
    }

}

@media (max-width: 414px) {


    .products-grid-body .box-card {
        width: 300px;
    }
}

@media(max-width:625px) {
    .blog-setion .blog-body .blog-contaion {
        width: 100%;
    }
}

/* ========= Samsung flod phone for ========== */
@media (max-width:280px) {
    .img-nav {
        padding-left: 10px !important;
        font-size: 18px !important;
    }

    .btn-nav {
        margin-right: 0px;
    }

    .min-hed .head-section {
        margin-inline: 0px;
    }

    .min-hed .inputcontainer button {
        left: 5px !important;
    }

    .min-hed .login-section .login-btn {
        margin-right: 0px !important;
        padding: 0px 3px !important;
        margin-inline: 5px !important;
    }

    .min-hed .shoping-cart {
        width: 30px;
        height: 30px;
    }

    .min-hed .shoping-cart {
        margin-right: 0px;
    }

    .min-hed .inputcontainer input {
        width: 89% !important;
        padding-left: 13px !important;
        font-size: 13px;
    }

    .min-hed .inputcontainer button i {
        color: #ABABAB;
        font-size: 14px;
        left: 0;
    }

    .slider-card .slider-cat {
        padding-inline: 10px !important;
    }

    footer .footer-left-body .footer-icon-box img {
        width: 10%;
    }


    .delivery-section .address-body .delivery-contain .delivery-btn p {
        padding: 4px 10px;
    }

    .contact-section .get-touch-body form .submit-btn {
        width: 32% !important;
    }

    .xzoom-body-contain {
        padding: 20px !important;
    }

    .xzoom_part .xzoom_details .btn-body {
        flex-wrap: nowrap;
    }

    .xzoom_part .xzoom_details .btn-body .btn-views {
        padding: 4px 3px;
    }

    .xzoom-body-contain .form-control {
        width: 13% !important;
    }

    .xzoom_part .btn-xzone-body a .btn-xzone {
        padding: 7px 5px;
    }

    .reviews-body nav .nav-tabs .nav-link {
        padding: 9px 18px;
    }

    .reviews-body .reviews-container .progress {
        width: 153px;
    }

    .reviews-body .reviews-container {
        border-left: none;
        padding: 10px 0px;
    }

    .product-grid-section-header {

        padding-left: 0px;
    }

    .product-grid-left-section .product-grid-left-box .left-box-main .Left-contain {
        padding: 0px 10px;
    }

    .contact-section .contact-body .contact-box {
        padding: 10px 5px;
    }
}