@charset "UTF-8";
/* =========== Phone and Tablets css ===========*/
@media (max-width: 992px) {
  .header {
    display: none;
  }
  .min-hed {
    display: none;
  }
  h1 {
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.1;
  }
  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: -0.04em;
  }
  h3 {
    font-size: 24px;
    line-height: 34px;
  }
  h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.04em;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }
  section {
    padding: 1.5rem 0rem;
  }
  .img-nav {
    padding-left: 25px !important;
    font-size: 25px !important;
  }
  .btn-nav {
    margin-right: 25px;
  }
  .trending-head h1 {
    font-size: 20px;
  }
  .trending-head h1::after {
    top: 0;
  }
  .trending-head a {
    font-size: 15px;
  }
  .min-hed {
    min-height: 55px !important;
  }
  .min-hed .head-section .img-nav {
    padding: 0px !important;
  }
  .min-hed .login-section .login-btn {
    margin-right: 0px;
    padding: 5px 14px;
    margin-inline: 5px;
  }
  .min-hed .login-section .search-icon-hide-show-box {
    display: block;
  }
  .min-hed .inputcontainer button {
    left: 5px !important;
  }
  .min-hed .login-section .login-btn {
    margin-right: 0px !important;
    padding: 1px 10px !important;
    margin-inline: 5px !important;
  }
  .min-hed .login-section .cart-box a .shoping-cart {
    padding: 2px 5px !important;
    text-align: center;
  }
  .min-hed .inputcontainer input {
    width: 89% !important;
    padding-left: 13px !important;
    font-size: 15px;
  }
  .min-hed .inputcontainer button i {
    color: #ABABAB;
    font-size: 14px;
    left: 0;
  }
  .nav-section .nav-ul .menu-wrapper {
    width: 300px;
    margin-left: 0px;
    padding: 30px !important;
  }
  .mydropudowan {
    left: 0;
    width: 90% !important;
  }
  .min-hed .login-section .modal-content {
    width: 100%;
    left: 0;
    top: 30px;
  }
  .min-hed .login-section .login-btn-hide-show {
    display: none;
  }
  .header .nav-section .img-nav {
    display: none;
  }
  .header .nav-section .hide-show-login-btn {
    display: block !important;
    margin-inline: 14px;
    margin-top: 4px;
  }
  .header .nav-section .login-btn-box {
    color: var(--black);
    font-weight: 500;
    text-decoration: none;
    font-size: 15px;
    display: inline-grid;
  }
  .header .nav-section .login-btn-box .login-btn {
    cursor: pointer;
    border: 1px solid var(--theam-colour);
    border-radius: 5px;
    padding: 0px 0px;
    font-weight: 600;
    text-align: center;
    transition: ease-out 0.4s;
    color: var(--black);
    margin: 0;
  }
  .header .nav-section .login-btn-box .login-btn:hover {
    color: white;
    box-shadow: inset 400px 0 0 0 var(--theam-colour);
  }
  .header .nav-section .login-btn-box span {
    font-size: 12px;
    font-weight: 500;
  }
  .dropdown:hover .dropdown-menu {
    left: 10px !important;
  }
  /* =========== mobile-tables-section section =========== */
  .mobile-tables-section {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    background-color: white;
    position: sticky;
    top: -1px;
    z-index: 9999999999999;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .mobile-tables-section .menu-bars-section .menu-bar-box iconify-icon {
    color: var(--black);
    font-size: 30px;
  }
  .mobile-tables-section .menu-bars-section .menu-bar-box i {
    color: var(--black);
  }
  .mobile-tables-section .menu-bars-section .menu-bar-box i:hover {
    color: var(--theam-colour);
  }
  .mobile-tables-section .logo-section {
    text-align: center;
  }
  .mobile-tables-section .logo-section .navbar-brand {
    font-weight: 700;
    font-size: 22px;
  }
  .mobile-tables-section .logo-section .navbar-brand span {
    width: 25px;
    height: 25px;
    display: inline-block;
  }
  .mobile-tables-section .logo-section .navbar-brand span img {
    height: 100%;
    width: 100%;
  }
  .mobile-tables-section .cart-icon-box a i {
    color: var(--black);
  }
  .mobile-tables-section .btn-close {
    --bs-btn-close-focus-shadow: none;
  }
  .mobile-tables-section .nav-tabs .nav-link {
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    font-size: 16px;
    font-weight: 600;
  }
  .mobile-tables-section .nav-tabs .nav-link.active {
    border: none;
  }
  .mobile-tables-section .accordion .accordion-contentBx {
    position: relative;
  }
  .mobile-tables-section .accordion-contentBx {
    overflow-y: auto;
  }
  .mobile-tables-section .accordion .accordion-contentBx .accordion-label {
    position: relative;
    padding: 10px;
    cursor: pointer;
  }
  .mobile-tables-section .accordion .accordion-contentBx .accordion-label::before {
    content: "∨";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 12px;
  }
  .mobile-tables-section .accordion .accordion-contentBx.active .accordion-label::before {
    content: "^";
  }
  .mobile-tables-section .accordion .accordion-contentBx .accordion-label-disative::before {
    display: none;
  }
  .mobile-tables-section .accordion .accordion-contentBx .accordion-label-disative::after {
    display: none;
  }
  .mobile-tables-section .accordion .accordion-contentBx .accordion-label:hover {
    color: var(--theam-colour);
  }
  .mobile-tables-section .accordion .accordion-contentBx .accordion-content {
    position: relative;
    padding: 0px;
    background: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
  }
  .mobile-tables-section .accordion .accordion-contentBx .accordion-content ul .mobile-menu-head {
    font-weight: 600;
  }
  .mobile-tables-section .accordion .accordion-contentBx .accordion-content ul li {
    padding: 10px;
  }
  .mobile-tables-section .accordion .accordion-contentBx .accordion-content ul li a:hover {
    color: var(--theam-colour);
  }
  .mobile-tables-section .accordion .accordion-contentBx .accordion-content p a i .fa .fa-arrow-circle-right {
    color: black;
    padding-left: 0.5rem;
    border: 2px solid red;
  }
  .mobile-tables-section .accordion .accordion-contentBx.active .accordion-content {
    padding: 10px;
    height: 300px;
  }
  .mobile-tables-section .brand-mobile-tab-section ul {
    padding: 0;
  }
  .mobile-tables-section .brand-mobile-tab-section ul li {
    padding: 10px;
  }
  .mobile-tables-section .brand-mobile-tab-section ul li a:hover {
    color: var(--theam-colour);
  }
  .mobile-tables-section .search-section {
    /* From uiverse.io by @satyamchaudharydev */
    /* removing default style of button */
    /* styling of whole input container */
    /* styling of Input */
    /* styling of animated border */
    /* Hover on Input */
    /* here is code of animated border */
    /* styling of close button */
    /* == you can click the close button to remove text == */
    /* close button shown when typing */
    /* sizing svg icons */
  }
  .mobile-tables-section .search-section .form button {
    border: none;
    background: none;
    color: #8b8ba7;
  }
  .mobile-tables-section .search-section .form {
    --timing: 0.3s;
    --height-of-input: 40px;
    --border-height: 2px;
    --input-bg: #fff;
    --border-color: #2f2ee9;
    --border-radius: 5px;
    --after-border-radius: 1px;
    position: relative;
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--input-bg, #fff);
    margin-inline: auto;
    border: 1px solid #ebebeb;
    margin: 10px 0px;
  }
  .mobile-tables-section .search-section .input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
  }
  .mobile-tables-section .search-section input:focus {
    outline: none;
  }
  .mobile-tables-section .search-section .form:focus-within:before {
    transform: scale(1);
  }
  .mobile-tables-section .search-section .reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
  }
  .mobile-tables-section .search-section input:not(:-moz-placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
  }
  .mobile-tables-section .search-section input:not(:placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
  }
  .mobile-tables-section .search-section .form svg {
    width: 17px;
  }
  .mobile-tables-section .wishlist-m-section i {
    color: var(--black);
  }
  /* =========== mobile-tables-section End =========== */
  /* ================= banner ============== */
  .banner-wrapper {
    display: none;
  }
  /* =================== /banner end ==================  */
  /* ========== mobile-slider-section Start ============*/
  .banner-wrappper-mobile-section {
    padding: 0px !important;
  }
  .banner-wrappper-mobile-section .mymobile-swiper {
    padding: 0px 0px;
  }
  .banner-wrappper-mobile-section .mymobile-swiper .btn-mb-slider {
    color: var(--theam-colour);
    background-color: rgba(240, 240, 240, 0.5);
    border-radius: 50%;
    width: 35px;
    height: 35px;
  }
  .banner-wrappper-mobile-section .mymobile-swiper .btn-mb-slider::after {
    font-size: 15px;
    font-weight: 900;
  }
  .banner-wrappper-mobile-section .swiper-slide {
    margin: 0;
    width: 100%;
  }
  .banner-wrappper-mobile-section .banner-img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    padding: 0;
    border-radius: 5px;
  }
  /* ========== mobile-slider-section End ============*/
  .cat-round {
    margin: 1rem 0rem;
  }
  .cat-round .Category-head {
    padding: 10px 0px;
  }
  .cat-round .Category-head h1 {
    font-size: 24px;
    font-weight: 600;
    margin: 0px 0px;
  }
  .cat-round .Category-stn {
    gap: 19px;
  }
  .cat-round .Category-stn .cart-box {
    width: 100px;
  }
  .cat-round .Category-stn .cart-box a p {
    font-size: 12px;
    line-height: 17px;
  }
  /* ==================  Tranding section Start ==============  */
  .trending-head h1 {
    font-size: 24px !important;
  }
  .trending-head h1::after {
    top: 12px !important;
  }
  .slider-card {
    padding-inline: 0px;
  }
  .slider-cat {
    padding-inline: 30px !important;
  }
  /* ==================  Tranding section End ==============  */
  .brnad-home-section {
    padding-inline: 0px;
  }
  .brand-section h1 {
    font-size: 24px !important;
    padding-left: 12px !important;
  }
  .brand-section h1 span {
    top: 14px !important;
    left: 100px !important;
    height: 17px !important;
    width: 87px !important;
  }
  .blog-setion .trending-head h1 {
    padding-left: 5px;
  }
  .blog-setion {
    padding: 20px 20px 95px 20px;
  }
  .blog-setion .blog-body {
    gap: 30px;
  }
  .blog-setion .blog-body .blog-contaion {
    width: 30%;
  }
  /* ======================  footer section start ======================== */
  footer {
    padding-top: 0px;
  }
  .footer-icon-box span {
    font-size: 25px !important;
  }
  footer .footer-list {
    padding-top: 50px;
  }
  footer .footer-list li a {
    font-size: 15px;
  }
  footer .footer-left-body {
    padding-top: 50px;
  }
  footer .footer-left-body .footer-icon-box img {
    width: 8%;
  }
  /* ======================  footer section End ======================== */
  /* ==============  Product Grid View page start ========================= */
  .products-grid-body {
    padding: 0px 0px;
    padding-bottom: 20px;
    justify-content: center;
    gap: 30px;
  }
  .products-grid-body .box-card {
    width: 228px;
  }
  .product-grid-section-header {
    padding-left: 8px;
  }
  .product-grid-section-header h1 {
    font-size: 24px !important;
  }
  .product-grid-section-header h1::after {
    top: 18px !important;
    height: 15px;
    width: 70px;
  }
  /* ==============  Product Grid View page end ========================= */
  /* =========================== policy setion start ======================== */
  .policy-hed h1 {
    font-size: 25px;
    line-height: 25px;
  }
  .shipping-hed h1 {
    line-height: 25px !important;
    font-size: 19px !important;
  }
  .policy-body .policy-box1 {
    padding: 0px;
  }
  .policy-body .policy-box1 h1 {
    line-height: 30px;
    font-size: 17px;
  }
  .policy-body .policy-box1 p {
    line-height: 25px;
    font-size: 13px;
  }
  /* =========== policy setion end  =================== */
  /* =================  Product Details page Start ================== */
  .product-page-slider {
    padding: 0px;
    height: 427px;
  }
  .Description-contain {
    padding: 20px !important;
  }
  /* =================  Product Details page End ================== */
  /* ================ produtcs-view-deatils-page Start ==================== */
  /* ========= Xzoom = (Start) ========================= */
  .xzoom-body-contain {
    padding: 30px !important;
  }
  .xzoom-body-contain .xzoom_details h4 {
    font-size: 17px;
  }
  .xzoom-body-contain .xzoom_details h6 {
    font-size: 14px;
  }
  .x-zoom-body {
    display: block !important;
    padding-right: 0;
    position: relative !important;
  }
  .x-zoom-body .x-zoomin-responsive {
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
  }
  .xzoom_part {
    padding-top: 15px;
  }
  .xzoom_part .xzoom-heart-hide {
    display: block !important;
    position: absolute;
    padding-top: 8px;
  }
  .xzoom_part .row {
    margin-right: 0px !important;
  }
  .xzoom_part .container {
    padding: 0px !important;
  }
  .xzoom_part .btn-xzone-body .btn-xzone {
    padding: 8px 10px;
    font-size: 15px;
  }
  .xzoom_part .btn-body .btn-views a {
    font-size: 15px;
  }
  .xzoom_part .xzoom_details h4 span .veg-nonveg-icon {
    font-size: 17px;
    color: green;
  }
  .xzoom_part .xzoom_container {
    margin: 0px 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .xzoom_part .xzoom_container .xzoom-body-responsive {
    padding: 40px;
  }
  .xzoom-thumbs {
    display: flex;
    gap: 10px;
    margin-inline: 50px !important;
  }
  .xzoom-thumbs .swiper-slide {
    display: flex;
    justify-content: center;
  }
  .xzoom_part .xzoom_details .btn-body .btn-views {
    padding: 7px 10px;
  }
  .reviews-body .Description-contain p {
    font-size: 15px;
    line-height: 22px;
  }
  /* ========= Xzoom = (End) ========================= */
  .Description-body {
    border-right: none;
  }
  .reviews-container {
    border: none;
  }
  .reviews-body .reviews-container .progress {
    width: 200px;
  }
  .xzoom-body-contain .heart-hide-responsive {
    display: none !important;
  }
  .xzoom-body-contain .form-control {
    width: 12% !important;
  }
  /* ================ produtcs-view-deatils-page End ==================== */
  /*  ================  rating and reviews page start =================== */
  .reviews-body .star-body .big-star-body p {
    margin: 14px;
  }
  .reviews-body .star-body {
    padding: 30px 0px;
  }
  .reviews-body .reviews-container {
    border-left: none;
    padding: 20px 25px;
  }
  .customer-body .profile-face {
    margin: 4px 15px;
    width: 60px;
    height: 60px;
  }
  .customer-body .comant-body p {
    font-size: 14px !important;
  }
  .all-revies-body .comant-body .like-star .thumbs-up-like-unlike-body i {
    font-size: 15px;
  }
  /*  ================  rating and reviews page start =================== */
  /* ================= whish list page section start ===================== */
  .my-whish-section .my-whish-head h1 {
    font-size: 20px;
  }
  .my-whish-section .my-whish-head h1::after {
    top: 15px !important;
  }
  .my-whish-section .my-whish-head p a {
    font-size: 15px;
  }
  .my-whish-section .my-whish-contain {
    padding-top: 7px;
  }
  .my-whish-section .my-whish-contain .my-wish-list p {
    font-size: 14px;
  }
  .my-whish-section .my-whish-contain .my-wish-list p:nth-child(3) {
    margin-bottom: 0px !important;
  }
  .my-whish-section .my-whish-contain .bin-body {
    display: none;
  }
  .my-whish-section .btn-mywish-body {
    display: flex;
    align-items: center;
    margin-top: 0px !important;
  }
  .my-whish-section .btn-mywish-body .bin-body {
    display: block !important;
    display: flex;
    text-align: center;
    padding: 4px;
    width: 30px;
    height: 30px;
    margin-bottom: 0px !important;
    margin-right: 10px !important;
  }
  .my-whish-section .btn-mywish-body .bin-body a i {
    color: black;
  }
  /* ================= whish list page section start ===================== */
  /* ============== cart page section start ================== */
  .cart-section .my-cart-head h1 {
    font-size: 22px;
  }
  .cart-section .my-cart-head h1::after {
    top: 10px;
    /* left: 0px; */
  }
  .cart-section .my-cart-contain .my-cart-list p {
    line-height: 21px;
  }
  .cart-section .my-cart-contain .my-cart-list .form-box {
    margin-top: 0px !important;
    justify-content: space-between;
    align-items: center;
  }
  .cart-section .my-cart-contain .my-cart-list .form-control {
    width: 16% !important;
  }
  .cart-section .my-cart-contain .bin-box .bin-body {
    display: none;
  }
  .cart-section .my-cart-contain .bin-remove-add {
    display: block;
  }
  .cart-section .my-cart-contain .my-cart-img-box {
    padding: 10px !important;
    height: 135px !important;
    width: 135px !important;
    margin: 8px !important;
  }
  .cart-section .Delivery-fix-body .Delivery-at-contain .Delivery-at p {
    margin-bottom: 5px;
  }
  /* ============== cart page section End ================== */
  /* ===============  delivery-addres page start =============*/
  .delivery-section {
    padding: 10px 0px;
  }
  .delivery-section .address-body .Address-head p {
    font-size: 15px;
  }
  .delivery-section .address-body .address-write {
    font-size: 15px;
    line-height: 22px;
  }
  .delivery-section .total-body {
    margin-top: 30px;
  }
  .delivery-section .total-body .total-body-head {
    font-size: 16px;
  }
  /* ===============  delivery-addres page End =============*/
  /* ================ Blog page start ===================*/
  .blog-section .blog-body .blog-contain p {
    line-height: 24px;
    font-size: 15px;
  }
  .blog-section .blog-section-header h1 {
    font-size: 24px !important;
  }
  .blog-section .blog-section-header h1::after {
    top: 18px !important;
    height: 15px;
    width: 70px;
  }
  .blog-section .blog-section-header a {
    font-size: 15px;
  }
  .blog-section .blog-right-body .blog-right-head-1 {
    padding-top: 0px;
  }
  .blog-section .blog-right-body .blog-right-section-2 {
    padding: 0px;
  }
  /* ================ Blog page End ===================*/
  /* =============== single-blog-page- start =============== */
  .single-blog-section {
    padding: 5px 0px;
    padding-bottom: 10px;
  }
  .single-blog-section .singal-blog-head h1 {
    font-size: 24px !important;
  }
  .single-blog-section .singal-blog-head h1::after {
    top: 18px !important;
    height: 15px;
    width: 70px;
  }
  .single-blog-section .singal-blog-head a {
    font-size: 15px;
  }
  .single-blog-section .blog-body {
    padding-bottom: 20px;
  }
  .single-blog-section .blog-body .blog-contain {
    padding: 10px 0px;
  }
  .single-blog-section .blog-body .blog-contain h4 {
    font-size: 17px;
  }
  .single-blog-section .blog-body .blog-contain p {
    font-size: 15px;
    line-height: 22px;
  }
  /* =============== single-blog-page- End =============== */
  /* =============== Contact-us-page-Start =============== */
  .contact-section {
    padding: 0px 0px;
  }
  .contact-section .contact-header .contact {
    font-size: 22px;
  }
  .contact-section .contact-header .contact span {
    height: 20px;
    width: 100px;
    left: 93px;
    top: 20px;
  }
  .contact-section .from-contact-body {
    padding: 0px 0px;
  }
  .contact-section .contact-body {
    margin: 10px 0px;
  }
  .contact-section .contact-body .contact-box {
    padding: 10px 20px;
  }
  .contact-section .contact-body .contact-box h4 {
    font-size: 20px;
  }
  .contact-section .contact-body .contact-box p {
    color: #5A5B5A;
    margin: 0;
    font-size: 15px;
    line-height: 22px;
  }
  .contact-section .get-touch-body {
    padding: 10px 0px;
  }
  .contact-section .get-touch-body h4 {
    font-size: 20px;
  }
  .contact-section .get-touch-body p {
    font-size: 15px;
    margin-bottom: 0%;
  }
  /* =============== Contact-us-page-End =============== */
  /* ================== profile-page Start =============*/
  .profile-section {
    padding: 10px;
  }
  .profile-section .profile-right-body {
    margin: 5px 0px;
    padding: 10px 10px;
  }
  .profile-section .profile-left-body {
    margin: 5px 12px;
  }
  .profile-section .img-icon-box {
    width: 50%;
  }
  .profile-section .img-icon-box a {
    width: 50%;
    height: auto;
  }
  .profile-section .img-icon-box a img {
    width: 100%;
    height: 100%;
  }
  /* =================== profile-page End ==============*/
  /* ==================== Checkout page start ==================== */
  .Checkout-section .billing-body {
    padding-top: 30px;
  }
  /* ==================== Checkout page End ======================== */
  /* ===================== about us page start ======================*/
  .About-section .about-body {
    padding: 0px;
  }
  /* ===================== about us page End ======================*/
}
/* ======== custom css ======= */
@media (max-width: 1024px) {
  .banner-wrapper .banner .mySwiper-1 .banner-txt h1 {
    font-size: 24px;
    line-height: 30px;
  }
  .slider-card {
    padding-inline: 0px;
  }
  .slider-cat {
    padding-inline: 0px;
  }
  .blog-setion .blog-body {
    gap: 30px;
  }
  .blog-setion .blog-body .blog-contaion {
    width: 30%;
  }
  .product-grid-left-section .product-grid-left-box .left-box-main .Left-contain {
    padding: 0px 9px;
  }
}
@media (min-width: 1280px) {
  .products-grid-body .box-card {
    width: 252px;
  }
}
@media (max-width: 414px) {
  .products-grid-body .box-card {
    width: 300px;
  }
}
@media (max-width: 625px) {
  .blog-setion .blog-body .blog-contaion {
    width: 100%;
  }
}
/* ========= Samsung flod phone for ========== */
@media (max-width: 280px) {
  .img-nav {
    padding-left: 10px !important;
    font-size: 18px !important;
  }
  .btn-nav {
    margin-right: 0px;
  }
  .min-hed .head-section {
    margin-inline: 0px;
  }
  .min-hed .inputcontainer button {
    left: 5px !important;
  }
  .min-hed .login-section .login-btn {
    margin-right: 0px !important;
    padding: 0px 3px !important;
    margin-inline: 5px !important;
  }
  .min-hed .inputcontainer input {
    width: 89% !important;
    padding-left: 13px !important;
    font-size: 13px;
  }
  .min-hed .inputcontainer button i {
    color: #ABABAB;
    font-size: 14px;
    left: 0;
  }
  .slider-card .slider-cat {
    padding-inline: 10px !important;
  }
  footer .footer-left-body .footer-icon-box img {
    width: 10%;
  }
  .delivery-section .address-body .delivery-contain .delivery-btn p {
    padding: 4px 10px;
  }
  .contact-section .get-touch-body form .submit-btn {
    width: 32% !important;
  }
  .xzoom-body-contain {
    padding: 20px !important;
  }
  .xzoom_part .xzoom_details .btn-body {
    flex-wrap: nowrap;
  }
  .xzoom_part .xzoom_details .btn-body .btn-views {
    padding: 4px 3px;
  }
  .xzoom-body-contain .form-control {
    width: 13% !important;
  }
  .xzoom_part .btn-xzone-body a .btn-xzone {
    padding: 7px 5px;
  }
  .reviews-body nav .nav-tabs .nav-link {
    padding: 9px 18px;
  }
  .reviews-body .reviews-container .progress {
    width: 153px;
  }
  .reviews-body .reviews-container {
    border-left: none;
    padding: 10px 0px;
  }
  .product-grid-section-header {
    padding-left: 0px;
  }
  .product-grid-left-section .product-grid-left-box .left-box-main .Left-contain {
    padding: 0px 10px;
  }
  .contact-section .contact-body .contact-box {
    padding: 10px 5px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* ========== min-head section start =======*/
  /* ========== min-head section End =======*/
  .min-hed .login-section .search-icon-hide-show-box {
    display: none;
  }
  .min-hed .inputcontainer {
    margin-left: 0px;
    min-height: 37px !important;
  }
  .min-hed .inputcontainer input {
    width: 80% !important;
    padding-left: 13px !important;
  }
  .min-hed .inputcontainer input:focus {
    border: none;
    outline: none;
  }
}
@media (min-width: 993px) {
  .mobile-tables-section {
    display: none;
  }
  .banner-wrappper-mobile-section {
    display: none;
  }
}
@media (max-width: 767px) {
  .modal-body {
    padding: 0px;
  }
  .modal-content {
    padding: 15px 15px;
    width: 88%;
    left: 25px;
  }
  .modal-content p {
    font-size: 13px;
  }
  .modal-content .modal-body .resend-p {
    font-size: 13px;
  }
  .min-hed .head-section {
    justify-content: space-between;
  }
  .min-hed .head-section .login-section p {
    margin-inline: 10px;
  }
  .min-hed .head-section .inputcontainer {
    display: none !important;
  }
  .min-hed .head-section .login-section .search-icon-hide-show-box .offcanvas {
    height: 70vh;
    overflow-y: scroll;
  }
  .min-hed .head-section .login-section .search-icon-hide-show-box .offcanvas .offcanvas-header {
    padding: 10px 10px;
    background-color: rgba(241, 241, 241, 0.59);
  }
  .min-hed .head-section .login-section .search-icon-hide-show-box .offcanvas .offcanvas-header form input {
    border: none;
    background: transparent;
  }
  .nav-section .btn-nav {
    padding: 0px;
  }
  .header .nav-section .hide-show-login-btn {
    margin-inline: 1px;
  }
  /* mobile view nvabar */
}/*# sourceMappingURL=responsive.css.map */