@media (max-width: 1024px) {
  .banner-wrapper .banner .mySwiper-1 .banner-txt h1 {
    font-size: 24px;
    line-height: 30px;
  }
  .slider-card {
    padding-inline: 0px;
  }
  .slider-cat {
    padding-inline: 0px;
  }
  .blog-setion .blog-body {
    gap: 30px;
  }
  .blog-setion .blog-body .blog-contaion {
    width: 30%;
  }
}
@media (max-width: 991px) {
  h1 {
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.1;
  }
  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: -0.04em;
  }
  h3 {
    font-size: 24px;
    line-height: 34px;
  }
  h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.04em;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }
  .img-nav {
    padding-left: 25px !important;
    font-size: 25px !important;
  }
  .btn-nav {
    margin-right: 25px;
  }
  .trending-head h1 {
    font-size: 20px;
  }
  .trending-head h1::after {
    top: 0;
  }
  .trending-head a {
    font-size: 15px;
  }
  .min-hed {
    min-height: 55px !important;
  }
  .min-hed .head-section {
    margin-inline: 0px;
  }
  .min-hed .inputcontainer {
    margin-left: 0px;
    min-height: 37px !important;
  }
  .min-hed .inputcontainer input {
    width: 80% !important;
    padding-left: 13px !important;
  }
  .min-hed .inputcontainer input:focus {
    border: none;
    outline: none;
  }
  .min-hed .inputcontainer button {
    padding: 0px !important;
  }
  .min-hed .shoping-cart {
    width: 40px;
    height: 40px;
  }
  .min-hed .login-section .login-btn {
    margin-right: 0px;
    padding: 5px 14px;
    margin-inline: 5px;
  }
  .min-hed .modal-body {
    padding: 0px;
  }
  .min-hed .login-section .modal-content {
    padding: 15px 15px;
    width: 100%;
  }
  .min-hed .login-section .modal-content p {
    font-size: 13px;
  }
  .min-hed .login-section .modal-content .modal-body .resend-p {
    font-size: 13px;
  }
  /*

         =================== offcanvase css ==================


      .min-hed .login-section p{
          margin-bottom: 0% !important;
      }
      .Toggle-section{
          padding: 0% !important;
          margin: 0% !important;
          font-size: 10px !important;
      }
      .Toggle-section i{
          font-size: 10px !important;
          padding-right: 5px !important;
          padding-left: 0px !important;
      }
      .Toggle-section span{
          font-size: 10px !important;
      }

      .login-section .login-btn {
          padding: 3px 10px !important;
          display: none !important;
          a{

              font-size: 13px !important;
          }
      }
      .login-section .shoping-cart {
          width: 30px !important;
          height: 30px !important;
          i{

              font-size: 15px !important;
          }
      }
      .login-btn-1{
          background-color: #068381;
          border-radius: 41px;
          padding: 5px 40px;
          margin-bottom: 0;
          a{
              color: white;
          }
      }

          */
  .nav-section .nav-ul .menu-wrapper {
    width: 300px;
    margin-left: 0px;
    padding: 30px !important;
  }
  .mydropudowan {
    left: 0;
    width: 100% !important;
  }
  .min-hed .login-section .modal-content {
    width: 100%;
    left: 0;
    top: 30px;
  }
  /* ================= banner ============== */
  .banner-wrapper {
    padding: 0.5rem 0rem;
  }
  .banner-wrapper .mySwiper-1 {
    padding: 10px 5px;
  }
  .banner-wrapper .swiper-slide {
    height: auto;
  }
  .banner-txt {
    padding: 2rem;
  }
  .banner-wrapper .swiper-slide {
    margin: 0;
    padding: 0 0.1rem;
  }
  /* =================== /banner end ==================  */
  .cat-round .carte-body .carte-contain P {
    font-size: 14px;
    line-height: 20px;
  }
  /* ==================  Tranding section Start ==============  */
  .trending-head h1 {
    font-size: 24px !important;
  }
  .trending-head h1::after {
    top: 12px !important;
  }
  .slider-card {
    padding-inline: 0px;
  }
  .slider-cat {
    padding-inline: 30px !important;
  }
  /* ==================  Tranding section End ==============  */
  .brnad-home-section {
    padding-inline: 0px;
  }
  .brand-section h1 {
    font-size: 24px !important;
    padding-left: 12px !important;
  }
  .brand-section h1 span {
    top: 14px !important;
    left: 100px !important;
    height: 17px !important;
    width: 87px !important;
  }
  .blog-setion .trending-head h1 {
    padding-left: 5px;
  }
  .blog-setion {
    padding: 95px 20px;
  }
  .blog-setion .blog-body {
    gap: 30px;
  }
  .blog-setion .blog-body .blog-contaion {
    width: 30%;
  }
  /* ======================  footer section start ======================== */
  .footer-icon-box span {
    font-size: 25px !important;
  }
  footer .footer-list {
    padding-top: 50px;
  }
  footer .footer-list li a {
    font-size: 18px;
  }
  footer .footer-left-body .footer-icon-box img {
    width: 8%;
  }
  /* ======================  footer section End ======================== */
  /* ==============  Product Grid View page start ========================= */
  .products-grid-body {
    padding: 0px 0px;
    padding-bottom: 20px;
    justify-content: center;
    gap: 30px;
  }
  .products-grid-body .box-card {
    width: 228px;
  }
  .product-grid-section-header h1 {
    font-size: 24px !important;
  }
  .product-grid-section-header h1::after {
    top: 18px !important;
    height: 15px;
    width: 70px;
  }
  /* ==============  Product Grid View page end ========================= */
  /* =========================== policy setion start ======================== */
  .policy-hed h1 {
    font-size: 19px;
    line-height: 25px;
  }
  .policy-body .policy-box1 {
    padding: 0px;
  }
  .policy-body .policy-box1 h1 {
    line-height: 30px;
    font-size: 17px;
  }
  .policy-body .policy-box1 p {
    line-height: 25px;
    font-size: 13px;
  }
  /* =========== policy setion end  =================== */
  /* =================  Product Details page Start ================== */
  .product-page-slider {
    padding: 0px;
    height: 427px;
  }
  .Description-contain {
    padding: 20px !important;
  }
  /* =================  Product Details page End ================== */
  /* ================ produtcs-view-deatils-page Start ==================== */
  /* ========= Xzoom = (Start) ========================= */
  .xzoom-body-contain {
    padding: 30px !important;
  }
  .xzoom-body-contain .xzoom_details h4 {
    font-size: 17px;
  }
  .xzoom-body-contain .xzoom_details h6 {
    font-size: 14px;
  }
  .shi {
    display: block !important;
    padding-right: 0;
    position: relative !important;
  }
  .shi .hii {
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
  }
  .xzoom_part {
    padding-top: 15px;
  }
  .xzoom_part .xzoom-heart-hide {
    display: block !important;
    position: absolute;
    padding-top: 8px;
  }
  .xzoom_part .row {
    margin-right: 0px !important;
  }
  .xzoom_part .container {
    padding: 0px !important;
  }
  .xzoom_part .xzoom {
    height: 325px;
    width: 322.625px !important;
  }
  .xzoom_part .btn-xzone-body .btn-xzone {
    padding: 8px 10px;
    font-size: 15px;
  }
  .xzoom_part .xzoom_details .btn-body .btn-views a {
    color: var(--black);
    font-size: 15px;
  }
  .xzoom_part .xzoom_container {
    margin: 0px 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .xzoom-thumbs {
    margin-top: 10px !important;
    display: flex;
    gap: 10px;
    margin-inline: 50px !important;
  }
  .xzoom-thumbs .swiper-slide {
    display: flex;
    justify-content: center;
  }
  .xzoom_part .xzoom_details .btn-body .btn-views {
    padding: 7px 10px;
  }
  .reviews-body .Description-contain p {
    font-size: 15px;
    line-height: 22px;
  }
  /* ========= Xzoom = (End) ========================= */
  .Description-body {
    border-right: none;
  }
  .reviews-container {
    border: none;
  }
  .reviews-body .reviews-container .progress {
    width: 200px;
  }
  .xzoom-body-contain .heart-hide-responsive {
    display: none !important;
  }
  .xzoom-body-contain .form-control {
    width: 10% !important;
  }
  /* ================ produtcs-view-deatils-page End ==================== */
  /*  ================  rating and reviews page start =================== */
  .reviews-body .star-body .big-star-body p {
    margin: 14px;
  }
  .reviews-body .star-body {
    padding: 30px 0px;
  }
  .reviews-body .reviews-container {
    border-left: none;
    padding: 20px 25px;
  }
  .customer-body .profile-face {
    margin: 4px 15px;
    width: 60px;
    height: 60px;
  }
  .customer-body .comant-body p {
    font-size: 14px !important;
  }
  .all-revies-body .comant-body .like-star .thumbs-up-like-unlike-body i {
    font-size: 15px;
  }
  /*  ================  rating and reviews page start =================== */
  /* ================= whish list page section start ===================== */
  .my-whish-section .my-whish-head h1 {
    font-size: 20px;
  }
  .my-whish-section .my-whish-head h1::after {
    top: 15px !important;
  }
  .my-whish-section .my-whish-head p a {
    font-size: 15px;
  }
  .my-whish-section .my-whish-contain {
    padding-top: 7px;
  }
  .my-whish-section .my-whish-contain .my-wish-list p {
    font-size: 14px;
  }
  .my-whish-section .my-whish-contain .my-wish-list p:nth-child(3) {
    margin-bottom: 0px !important;
  }
  .my-whish-section .my-whish-contain .bin-body {
    display: none;
  }
  .my-whish-section .btn-mywish-body {
    display: flex;
    align-items: center;
    margin-top: 0px !important;
  }
  .my-whish-section .btn-mywish-body .bin-body {
    display: block !important;
    display: flex;
    text-align: center;
    padding: 0px;
    width: 25px;
    height: 25px;
    margin-bottom: 0px !important;
    margin-right: 10px !important;
  }
  .my-whish-section .btn-mywish-body .bin-body a i {
    color: black;
  }
  /* ================= whish list page section start ===================== */
  /* ============== cart page section start ================== */
  .cart-section .my-cart-head h1 {
    font-size: 22px;
  }
  .cart-section .my-cart-head h1::after {
    top: 10px;
    /* left: 0px; */
  }
  .cart-section .my-cart-contain .my-cart-list p {
    line-height: 21px;
  }
  .cart-section .my-cart-contain .my-cart-rs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .cart-section .my-cart-contain .my-cart-rs .form-box {
    margin-top: 0px !important;
    justify-content: flex-start;
    align-items: center;
  }
  .cart-section .my-cart-contain .my-cart-rs .form-control {
    width: 15%;
  }
  .cart-section .total-box {
    padding-top: 20px;
  }
  /* ============== cart page section End ================== */
  /* ===============  delivery-addres page start =============*/
  .delivery-section {
    padding: 10px 0px;
  }
  .delivery-section .address-body .Address-head p {
    font-size: 15px;
  }
  .delivery-section .address-body .address-write {
    font-size: 15px;
    line-height: 22px;
  }
  .delivery-section .total-body {
    margin-top: 30px;
  }
  .delivery-section .total-body .total-body-head {
    font-size: 16px;
  }
  /* ===============  delivery-addres page End =============*/
  /* ================ Blog page start ===================*/
  .blog-section .blog-body .blog-contain p {
    line-height: 24px;
    font-size: 15px;
  }
  .blog-section .blog-section-header h1 {
    font-size: 24px !important;
  }
  .blog-section .blog-section-header h1::after {
    top: 18px !important;
    height: 15px;
    width: 70px;
  }
  .blog-section .blog-section-header a {
    font-size: 15px;
  }
  .blog-section .blog-right-body .blog-right-head-1 {
    padding-top: 0px;
  }
  .blog-section .blog-right-body .blog-right-section-2 {
    padding: 0px;
  }
  .blog-section .blog-right-body .blog-right-contain-2 .blog-right-img-box-2 {
    -o-object-fit: cover;
       object-fit: cover;
    padding: 5px;
    height: auto;
  }
  /* ================ Blog page End ===================*/
  /* =============== single-blog-page- start =============== */
  .single-blog-section {
    padding: 5px 0px;
    padding-bottom: 10px;
  }
  .single-blog-section .singal-blog-head h1 {
    font-size: 24px !important;
  }
  .single-blog-section .singal-blog-head h1::after {
    top: 18px !important;
    height: 15px;
    width: 70px;
  }
  .single-blog-section .singal-blog-head a {
    font-size: 15px;
  }
  .single-blog-section .blog-body {
    padding-bottom: 20px;
  }
  .single-blog-section .blog-body .blog-contain {
    padding: 10px 0px;
  }
  .single-blog-section .blog-body .blog-contain h4 {
    font-size: 17px;
  }
  .single-blog-section .blog-body .blog-contain p {
    font-size: 15px;
    line-height: 22px;
  }
  /* =============== single-blog-page- End =============== */
  /* =============== Contact-us-page-Start =============== */
  .contact-section {
    padding: 0px 0px;
  }
  .contact-section .contact-header .contact {
    font-size: 22px;
  }
  .contact-section .contact-header .contact span {
    height: 20px;
    width: 100px;
    left: 93px;
    top: 20px;
  }
  .contact-section .from-contact-body {
    padding: 0px 0px;
  }
  .contact-section .contact-body {
    margin: 10px 0px;
  }
  .contact-section .contact-body .contact-box {
    padding: 10px 20px;
  }
  .contact-section .contact-body .contact-box p {
    color: #5A5B5A;
    margin: 0;
    font-size: 15px;
    line-height: 22px;
  }
  .contact-section .get-touch-body {
    padding: 10px 0px;
  }
  /* =============== Contact-us-page-End =============== */
  /* ================== profile-page Start =============*/
  .profile-section {
    padding: 0px;
  }
  .profile-section .profile-right-body {
    margin-top: 10px;
    padding: 10px 10px;
  }
  .profile-section .img-icon-box {
    width: 50%;
  }
  .profile-section .img-icon-box a {
    width: 50%;
    height: auto;
  }
  .profile-section .img-icon-box a img {
    width: 100%;
    height: 100%;
  }
  /* =================== profile-page End ==============*/
  /* ==================== Checkout page start ==================== */
  /* ==================== Checkout page End ======================== */
}
@media (min-width: 1280px) {
  .products-grid-body .box-card {
    width: 252px;
  }
}
@media (max-width: 414px) {
  .products-grid-body .box-card {
    width: 300px;
  }
}
@media (max-width: 625px) {
  .blog-setion .blog-body .blog-contaion {
    width: 100%;
  }
}
@media (max-width: 280px) {
  .img-nav {
    padding-left: 10px !important;
    font-size: 18px !important;
  }
  .btn-nav {
    margin-right: 0px;
  }
  .min-hed .inputcontainer button {
    left: 5px !important;
  }
  .min-hed .login-section .login-btn {
    margin-right: 0px !important;
    padding: 0px 3px !important;
    margin-inline: 5px !important;
  }
  .min-hed .shoping-cart {
    width: 30px;
    height: 30px;
  }
  .min-hed .shoping-cart {
    margin-right: 0px;
  }
  .min-hed .inputcontainer input {
    width: 89% !important;
    padding-left: 13px !important;
    font-size: 13px;
  }
  .min-hed .inputcontainer button i {
    color: #ABABAB;
    font-size: 14px;
    left: 0;
  }
  footer .footer-left-body .footer-icon-box img {
    width: 10%;
  }
  .delivery-section .address-body .delivery-contain .delivery-btn p {
    padding: 4px 10px;
  }
  .contact-section .get-touch-body form .submit-btn {
    width: 32% !important;
  }
}/*# sourceMappingURL=responsive.css.map */