@import "productgridpage.scss";
@import "policys";
@import "produtcsviewdeatis";
@import "Rating-&-reveiws";
@import "scroll-top";
@import "wishlist-page";
@import "cart-page";
@import "Delivery-address";

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body {
    overflow-x: hidden;
    font-family: 'Poppins';
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

section {
    padding: 2.5rem 0rem;
}

p {
    font-family: 'Poppins';
    font-size: 17px;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
    font-family: 'Poppins';
}

h1 {
    font-weight: 600;
    font-size: 50px;
    line-height: 59px;
    letter-spacing: -0.04em;
}

h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.04em;
}

h3 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.04em;
}

h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.04em;

}

h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.04em;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}

:root {
    --them-colour: #F7A742;
    --black: #000000;
    --white: #FFFFFF;
    --light: #FDEAD3;
}

/* =========  start header section ================ */

.nav-section {
    background-color: var(--them-colour);
    min-height: 63px;
    z-index: 99999999;

    .img-nav {
        // padding-left: 130px;
        font-size: 25px;
        font-weight: 700;

        img {
            width: 25%;
        }
    }

    .btn-nav {
        border: none;
    }

    .navbar-toggler:focus {

        outline: none !important;
        box-shadow: none;
    }

    .nav-ul {
        // padding-right: 190px;

        .nav-item {
            padding: 0px 20px;

            a {
                color: var(--black);
                font-weight: 600;
                font-size: 15px;
            }
        }

        .dropdown-menu li a {
            color: var(--black);
        }


        .dropdown:hover .dropdown-menu {
            display: block;
            position: absolute;
            top: 10;
            z-index: 9999999;
        }

        .dropdown-toggle::after {
            display: none;
        }

        .dropdown-menu .dropdown-item {
            font-size: 15px;
            font-weight: 500;

            // padding: 20px;
            &:hover {
                color: var(--them-colour);
                background-color: white;

            }
        }

        .mydropudowan {
            // border:5px solid red ;
            position: absolute;
            // left: 100px;
            right: 0;
            width: 70%;
            border-radius: 5px;

            .list-group {
                h4 {
                    font-size: 17px;
                    font-weight: 600;
                    border: none;
                    border-bottom: 1px solid var(--them-colour);
                }

                a {
                    border: none;
                    font-size: 15px;
                    font-weight: 500;

                    &:hover {
                        color: var(--them-colour);
                    }
                }
            }

        }
    }
}

/* =========   header End ================ */
/*  ========== min-hed section start ============ */
.min-hed {
    min-height: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    position: sticky;
    width: 100%;
    top: 0;
    border-bottom: 1px solid #E8E8E8;
    z-index: 999999;

    .head-section {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        // margin-inline: 50px;
    }

    /*.Toggle-section{
        color: #068381;
        &:focus{
            border: none;
        }
    }
    .btn-close-nav{
        color: #068381 !important;
        // padding: 5px;
        border: none;
        background-color: none !important;

        i{
            font-size: 30px;
            &:hover{
                color: #12a7c2;
            }   
             }
        &:focus{
            box-shadow: none;
            color: #068381;
        }
    }
        */
    .login-btn-1 {
        display: none;
    }

    .inputcontainer {
        width: 100%;
        min-height: 35px;
        display: flex;
        font-size: 15px;
        align-items: center;
        justify-content: center;
        // border: 1px solid #EFF0F7;
        // box-shadow: 0px 8px 25px rgba(13, 10, 44, 0.06);
        border-radius: 60px;
        background: #F9EEE0;
        position: relative;

        input {
            width: 90%;
            border: none;
            padding-left: 20px;
            background-color: transparent;

            &:focus {
                border: none;
                outline: none;
            }
        }

        button {
            border-radius: 100%;
            padding: 10px;
            position: absolute;
            left: 10px;
            background-color: transparent;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                color: #ABABAB;
                font-size: 17px;
            }
        }

    }

    .login-section {
        display: flex;
        justify-content: flex-end;
        align-items: center;


        p {
            margin-bottom: 0%;
        }

        .login-btn {
            background-color: var(--them-colour);
            border-radius: 41px;
            padding: 4px 20px;
            margin-right: 20px;

            a {
                color: var(--black);
                font-weight: 500;
                text-decoration: none;
                font-size: 15px;

            }
        }

        .modal-dialog {
            top: 90px;
            z-index: 99999999999999999999;
        }

        .modal-content {
            padding: 15px 30px;
            width: 88%;
            left: 36px;

            p {
                color: rgba(91, 53, 3, 0.87);
                font-size: 17px;
            }

            .btn-close {
                border: none;

                &:focus {
                    box-shadow: none;
                }
            }

            .modal-header {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                /*space-between */
                border: none;
                padding: 0;

                p {
                    font-size: 15px;
                }
            }

            .modal-body {

                input {
                    width: 100%;
                    margin: 10px 0px;
                    padding: 8px 10px;
                    border: 1px solid rgba(91, 53, 3, 0.87);

                    &:focus {
                        outline: none;
                    }

                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }


                }

                input[type=number] {
                    -webkit-appearance: none;
                    -moz-appearance: textfield;
                    appearance: none !important;

                }

                .resend-p {
                    font-size: 15px;

                    span {
                        color: var(--them-colour);
                    }
                }

                button {
                    width: 100%;
                    cursor: pointer;
                    background-color: var(--them-colour);
                    padding: 7px;
                    border: none;
                    border-radius: 50px;
                    margin: 15px 0px;
                    font-weight: 600;
                }

                p {
                    font-size: 15px;
                }
            }

            .modal-footer {
                border: none;
            }
        }

    }

    .shoping-cart {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        background-color: var(--them-colour);
        // padding: 20px;
        justify-content: center;
        border-radius: 50% 50%;
        margin-right: 20px;

        i {
            text-align: center;
            /* height: 70px; */
            color: var(--black);
            font-size: 17px;


        }
    }
}


/*  ========== min-hed section End ============ */


/* ======================= banner start ============== */
.banner-wrapper {
    // height: 90vh;
    // padding: 1rem 0 !important;
    // position: relative;
    // border: 1px solid black;
    // padding-bottom: 0px !important;
}

.banner-txt {
    padding: 0rem 2rem;
    // border: 1px solid red;
}

.banner-wrapper .mySwiper-1 {
    padding: 10px 0px;

    .doted-1 span {
        background-color: var(--light);
        border: 1px solid var(--them-colour);

    }
}

.banner-wrapper .swiper-slide {
    margin: 0;
    padding: 0 2rem;
    background: linear-gradient(97.13deg, #F8A842 8.11%, #FDEAD3 95.32%);
    border-radius: 16px;
    width: 100%;
    max-width: 100%;
    display: flex;
    // height: 450px;

}

/* .banner-wrapper .swiper-slide .banner-img
{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */

.banner-wrapper .banner-imgdiv {
    position: relative;
}

.banner-wrapper .banner-img {
    width: 100%;
}

.banner-wrapper .banner-time a {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    padding: 0.5rem;
    margin: 0 0.2rem;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: var(--paragraph);
}

/* ====================== banner end ============= */
/* ================  Categories round shape section start =========== */
.cat-round {
    background-color: var(--light);

    .carte-body {
        display: flex;
        // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 60px;
        // flex-wrap: wrap;
        // padding: 20px 0px;
        align-items: center;
        justify-content: space-between;
        overflow-x: scroll;
        padding-top: 20px;

        &::-webkit-scrollbar {
            width: px;
            background-color: #FDEAD3;
            cursor: pointer;
            height: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background: #F7A742;
            border-radius: 4px;
            width: 5px;
        }

        .carte-contain {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 5px;
            gap: 5px;

            .carte-img-box {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 30px;
                gap: 10px;
                width: 130px;
                height: 130px;
                background: #FFFFFF;
                border-radius: 50%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            p {
                font-family: 'Poppins';
                font-weight: 400;
                font-size: 15px;
                // line-height: 28px;
                text-align: center;
                text-transform: capitalize;
            }
        }

        .swiper-button-next {
            right: 0;
        }

        .swiper-button-prev {
            left: 0;
        }

        .aero {
            color: var(--them-colour);
            top: 40%;

            &::after {

                font-size: 30px;
            }
        }
    }
}

/* ==================  Categories round shape section End ==============  */
/* ==================  Tranding section Start ==============  */
.slider-card {
    padding-inline: 50px;

    // width: (100% - 50px , 3800px);
    // max-width: 1900px;
    .trending-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 15px;

        h1 {
            font-size: 30px;
            font-weight: 600;
            font-family: poppins;
            position: relative;


            &::after {
                content: "";
                background-color: var(--them-colour);
                height: 19px;
                width: 107px;
                border-radius: 128px 0px 144px 0px;
                position: absolute;
                right: -15px;
                top: 26px;
                /* left: 0px; */
                transform: rotate(173deg);
                z-index: -999;
            }

        }

        a {
            text-decoration: underline;
            color: var(--them-colour);
            font-weight: 700;
            font-size: 17px;
        }
    }

    .slider-cat {
        padding-inline: 15px;

        // border: 1px dotted rgb(240, 239, 234);
        // background-color: #fffffa;
        .swiper-button-next {
            color: var(--them-colour);
            background-color: var(--light);
            border-radius: 50%;
            width: 35px;
            height: 35px;
            // left: 0;
            right: 0;

            &::after {

                font-size: 15px;
                font-weight: 900;
            }
        }

        .swiper-button-prev {
            color: var(--them-colour);
            background-color: var(--light);
            border-radius: 50%;
            width: 35px;
            height: 35px;
            left: 0;

            &::after {

                font-size: 15px;
                font-weight: 900;
            }
        }

        .swiper-slide {
            // background-color: #0A2640;
            height: 530px;
        }

        .box-card {
            border-radius: 20px;
            margin: 1rem 0rem;
            position: relative;
            height: fit-content;
            // background-color: var(--light);
            // border: 1px solid gray;
            // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
            background-color: white;


            .card-img {
                /* border-radius: 30px; */
                overflow: hidden;
                height: 150px;
                width: min(100% - 10px, 150px);
                margin-inline: auto;
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    // height: 240px;

                    img {
                        width: 100%;
                        height: 100%;
                        transition: all 0.5s;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }

            }

            .card-body {
                background-color: white;
                border-radius: 5px 5px 20px 20px;

                .card-con {
                    padding: 1rem 1rem;

                    h1 {
                        font-weight: 600;
                        font-size: 17px;
                        padding-bottom: 0;
                        line-height: 22px;
                        margin: 0;
                    }

                    h6 {
                        font-size: 12px;
                        font-weight: 400;
                    }

                    p {
                        span:nth-child(1) {
                            font-weight: 600;
                            font-size: 19px;

                        }

                        .mrp {
                            font-size: 12px;
                            font-weight: 400;

                        }

                    }

                    a {
                        color: black;
                        margin-top: 10px;

                        .shpoing-btn {
                            padding: 7px 10px;
                            border: 1px solid var(--them-colour);
                            border-radius: 50px;
                            font-size: 16px;
                            font-weight: 600;
                            text-align: center;
                            -webkit-transition: ease-out 0.4s;
                            -moz-transition: ease-out 0.4s;
                            transition: ease-out 0.4s;
                            // width: auto;
                            // margin-inline: auto;

                            &:hover {
                                // background-color: var(--them-colour);
                                color: white;
                                // transform: translateX(-100%);
                                box-shadow: inset 400px 0 0 0 #E79835;
                            }

                            i {
                                margin-right: 10px;
                                font-size: 19px;
                                /* color: #068381;*/
                            }
                        }
                    }
                }
            }

            .head-stars {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 10px;
                padding-inline: 25px;

                .reviews {
                    background-color: #FFDAAD;
                    padding: 2px 5px;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    font-size: 11px;

                    i {
                        color: #E79835;
                        font-size: 11px;
                    }

                }

                .false-seal {
                    background-color: #FFDAAD;
                    border-radius: 50%;
                    height: 25px;
                    width: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        width: 15px;
                        height: 15px;
                    }

                    .heart path {
                        fill: transparent;
                        stroke: var(--black);
                        transition: 0.2s ease all;
                    }

                    .heart:hover {
                        animation: pulse 0.2s ease;
                    }

                    .heart:hover path {
                        fill: var(--them-colour);
                        stroke: var(--them-colour);
                    }

                }
            }
        }

    }
}

/* ==================  Tranding section End ==============  */
/* ==============  brand boy svae to 40% section Start =================== */
.img-bg-box{
    // border: 1px solid red;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
/* ==============  brand boy svae to 40% section end =================== */
/* ============= brand range start ================= */

.brnad-home-section {
    // padding-inline:40px ;
    padding: 60px 40px;

    // background-color: #C4F1F1;
    .brand-section {
        h1 {
            position: relative;
            font-weight: 600;
            font-size: 30px;
            padding-left: 20px;
            z-index: 0;

            span{
                background-color: var(--them-colour);
                opacity: 0.9;
                height: 25px;
                width: 121px;
                border-radius: 128px 0px 144px;
                position: absolute;
                // right: 481px;
                left: 120px;
                top: 19px;
                transform: rotate(176deg);
                z-index: -1;
            }
        }

    }

    .swiper-wrapper {

        .brand-img-box {
            width: 100%;

            //    background-color: #0A2640;
        }

        img {
            width: 50%;
            height: 50%;
        }
    }

    // .brand-contain {
    //     display: grid;
    //     grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
    //     /* for 3 section */
    //     gap: 10px;
    //     padding-top: 30px;

    //     .brnad-boy {
    //         display: flex;
    //         justify-content: center;

    //         .brand-img-box {

    //             display: flex;
    //             align-items: center;

    //             img {
    //                 width: 100%;
    //             }
    //         }
    //     }
    // }
}

/* ============= brand range End ================= */
/* ============= Blog section start ================= */

.blog-setion {
    padding: 95px 50px;
    // padding-bottom: 95px;
    background-color: white;

    .trending-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding-inline:30px ;
        padding-bottom: 10px;

        h1 {
            font-size: 30px;
            font-weight: 600;
            font-family: poppins;
            position: relative;
            padding-left: 20px;
            z-index: 0;

            &::after {
                content: "";
                background-color: var(--them-colour);
                height: 19px;
                width: 81px;
                border-radius: 128px 0px 144px 0px;
                position: absolute;
                right: -15px;
                top: 24px;
                /* left: 0px; */
                transform: rotate(173deg);
                z-index: -999;
            }

        }

        a {
            text-decoration: underline;
            color: var(--them-colour);
            font-weight: 700;
            font-size: 17px;
        }
    }

    .blog-body {
        // display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
        // gap: 50px 100px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 70px;

        .blog-contaion {
            // border: 1px solid red;
            // min-height: 490px;
            width: 25%;

            .blog-img-box {
                // height: 180px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                }

            }

            .blog-footer {
                h1 {
                    font-weight: 400;
                    font-size: 19px;
                    padding-top: 20px;
                    line-height: 20px;
                }

                p {
                    color: #777777;
                    padding: 0px;
                    line-height: 20px;
                    font-size: 15px;
                }

                a {
                    color: var(--black);
                    padding: 12px 0px;
                    color: #0A2640;
                    font-size: 17px;
                    border-bottom: 3px solid #0A2640;
                    line-height: 10px;

                    i {
                        padding-left: 20px;

                    }
                }
            }
        }
    }
}

/* ============= Blog section End ================= */
/* ================= footer section start =================  */
footer {
    margin-top: auto;
    background-color: #000000 !important;
    padding: 80px 20px;
    // min-height: 593px;
    display: flex;
    align-items: center;
    
    bottom: 0px !important;
    
}

footer .footer-left-body .footer-icon-box {
    padding: 0px 0px 30px 0px;
}

footer .footer-left-body .footer-icon-box {
    display: flex;
    align-items: center;

    img {
        width: 5%;
    }
}

footer .footer-left-body .footer-icon-box span {
    font-size: 25px;
    font-weight: 900;
    color: #ffffff;
    padding-left: 10px;
}

footer .footer-left-body p {
    font-size: 15px;
    color: #8E8E8E;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

footer .icon-footer-box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

footer .icon-footer-box div {
    background-color: var(--light);
    // padding: 15px;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in-out;
    cursor: pointer;
    padding: 10px;

    &:hover {
        transform: translateY(-10px);

        i {
            color: var(--them-colour);
        }
    }
}

footer .icon-footer-box div i {
    color: #000000;
    font-size: 17px;
}

footer .footer-list li {
    background: transparent;
    outline: none;
    border: none;
}

.fa-linkedin-in:before {
    content: "\f0e1";
}

footer .footer-list li .active {
    color: #D9D9D9;
}

footer .footer-list li a {
    color: #8E8E8E;
    font-size: 15px;
}

footer .footer-list li a:hover {
    color: var(--light);
}

/* =================  footer section end ================  */